Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"

just clean up
  pax/runner_evo_self.py
Labels: core

sort of works
  experiment.log
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/conf/experiment/tensor/ppo_v_ppo_v_ppo.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_defect.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_switch.yaml
  pax/experiment.py
  pax/runner_eval_3ppl.py
Labels: core

results are still dodge
  experiment.log
  pax/runner_eval_3ppl.py
  pax/watchers.py
Labels: core

configs updated for num_outer_step
  pax/conf/experiment/ipd/earl_fixed.yaml
  pax/conf/experiment/ipd/earl_infinite.yaml
  pax/conf/experiment/ipd/earl_nl_cma.yaml
  pax/conf/experiment/ipd/earl_nl_open.yaml
  pax/conf/experiment/ipd/earl_nl_pgpe.yaml
  pax/conf/experiment/ipd/earl_v_ppo.yaml
  pax/conf/experiment/ipd/earl_v_ppo_mem.yaml
  pax/conf/experiment/ipd/earl_v_tabular.yaml
  pax/conf/experiment/ipd/gs_v_ppo.yaml
  pax/conf/experiment/ipd/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipd/inf_mfos_v_nl.yaml
  pax/conf/experiment/ipd/inf_mfos_v_tft.yaml
  pax/conf/experiment/ipd/marl2_v_nl.yaml
  pax/conf/experiment/ipd/marl2_v_tft.yaml
  pax/conf/experiment/ipd/mfos_v_ppo.yaml
  pax/conf/experiment/ipd/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipd/mfos_v_tabular.yaml
Labels: none

removed num_steps from all marl games
  pax/agents/hyper/ppo.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/naive/naive.py
  pax/agents/ppo/ppo.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_ipditm_eval.py
  pax/runners/runner_marl.py
Labels: core

fixed learning rate
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/ipd/earl_fixed.yaml
Labels: none

fixing configs
  pax/agents/ppo/ppo.py
  pax/conf/experiment/ipd/earl_infinite.yaml
  pax/conf/experiment/ipd/earl_nl_cma.yaml
  pax/conf/experiment/ipd/earl_nl_pgpe.yaml
  pax/conf/experiment/ipd/gs_v_ppo.yaml
  pax/conf/experiment/ipd/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipd/marl2_v_nl.yaml
  pax/conf/experiment/ipd/marl2_v_tft.yaml
  pax/conf/experiment/ipd/mfos_v_ppo.yaml
  pax/conf/experiment/ipd/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipd/mfos_v_tabular.yaml
  pax/conf/experiment/ipd/nl_v_tft.yaml
  pax/conf/experiment/ipd/ppo_mem_v_tft.yaml
  pax/conf/experiment/ipd/ppo_v_tft.yaml
  pax/conf/experiment/ipd/shaper_fixed.yaml
  pax/conf/experiment/ipd/shaper_infinite.yaml
  pax/conf/experiment/ipd/shaper_v_ppo.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
  pax/experiment.py
  pax/runners/runner_marl.py
Labels: core

better config names
  pax/conf/experiment/impitm/independent_learners.yaml
  pax/conf/experiment/impitm/meta_eval_gs.yaml
  pax/conf/experiment/impitm/meta_eval_mfos-es.yaml
  pax/conf/experiment/impitm/meta_eval_mfos-rl.yaml
  pax/conf/experiment/impitm/meta_eval_nl.yaml
  pax/conf/experiment/impitm/meta_eval_shaper.yaml
  pax/conf/experiment/impitm/train_gs.yaml
  pax/conf/experiment/impitm/train_mfos_es.yaml
  pax/conf/experiment/impitm/train_mfos_rl.yaml
  pax/conf/experiment/impitm/train_shaper.yaml
  pax/conf/experiment/ipditm/independent_learners.yaml
  pax/conf/experiment/ipditm/meta_eval_gs.yaml
  pax/conf/experiment/ipditm/meta_eval_independent.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos-rl.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos.yaml
  pax/conf/experiment/ipditm/meta_eval_shaper.yaml
  pax/conf/experiment/ipditm/shaper_eval_shaper.yaml
  pax/conf/experiment/ipditm/train_gs.yaml
  pax/conf/experiment/ipditm/train_mfos_es.yaml
  pax/conf/experiment/ipditm/train_mfos_rl.yaml
  pax/conf/experiment/ipditm/train_shaper.yaml
Labels: none

num outer steps for ipditm too
  pax/conf/experiment/ipditm/independent_learners.yaml
  pax/conf/experiment/ipditm/meta_eval_gs.yaml
  pax/conf/experiment/ipditm/meta_eval_independent.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos-rl.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos.yaml
  pax/conf/experiment/ipditm/meta_eval_shaper.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/conf/experiment/ipditm/train_gs.yaml
  pax/conf/experiment/ipditm/train_mfos_es.yaml
  pax/conf/experiment/ipditm/train_mfos_rl.yaml
  pax/conf/experiment/ipditm/train_shaper.yaml
Labels: none

num outer steps for ipditm too
  pax/conf/experiment/impitm/independent_learners.yaml
Labels: none

renamed to just InTheMatrix
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/impitm/independent_learners.yaml
  pax/conf/experiment/impitm/meta_eval_gs.yaml
  pax/conf/experiment/impitm/meta_eval_mfos-es.yaml
  pax/conf/experiment/impitm/meta_eval_mfos-rl.yaml
  pax/conf/experiment/impitm/meta_eval_nl.yaml
  pax/conf/experiment/impitm/meta_eval_shaper.yaml
  pax/conf/experiment/impitm/sanity_eval.yaml
  pax/conf/experiment/impitm/sanity_evo.yaml
  pax/conf/experiment/impitm/train_gs.yaml
  pax/conf/experiment/impitm/train_mfos_es.yaml
  pax/conf/experiment/impitm/train_mfos_rl.yaml
  pax/conf/experiment/impitm/train_shaper.yaml
  pax/conf/experiment/ipditm/independent_learners.yaml
  pax/conf/experiment/ipditm/meta_eval_gs.yaml
  pax/conf/experiment/ipditm/meta_eval_independent.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos-rl.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos.yaml
  pax/conf/experiment/ipditm/meta_eval_shaper.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/conf/experiment/ipditm/train_gs.yaml
  pax/conf/experiment/ipditm/train_mfos_es.yaml
  pax/conf/experiment/ipditm/train_mfos_rl.yaml
  pax/conf/experiment/ipditm/train_shaper.yaml
  pax/envs/in_the_matrix.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_ipditm_eval.py
  pax/runners/runner_marl.py
  pax/watchers.py
Labels: envs, core

self play 2pop
  pax/conf/experiment/ipd/chaos_v_chaos.yaml
  pax/conf/experiment/ipd/chaos_v_chaos_2pop.yaml
  pax/experiment.py
  pax/runner_evo_self_2pop.py
Labels: core

things run again
  experiment.log
  pax/agents/agent.py
  pax/agents/hyper/ppo.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/naive_exact.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/agents/strategies.py
  pax/agents/tensor_strategies.py
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/conf/experiment/tensor/ppo_v_ppo_v_ppo.yaml
  pax/conf/experiment/tensor/ppo_vs_altruists.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_defect.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_defect.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_tft_defect_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_tft_switch_stay.yaml
  pax/envs/coin_game.py
  pax/envs/in_the_matrix.py
  pax/experiment.py
  pax/runners/runner_eval_3player.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_3player.py
  pax/runners/runner_ipditm_eval.py
  pax/runners/runner_marl_3player.py
  pax/runners/runner_sarl.py
  pax/watchers.py
  setup.py
  test/envs/test_ipd_in_the_matrix.py
  test/test_tensor_strategies.py
Labels: envs, agent, test, core

formatting
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/envs/coin_game.py
  pax/envs/in_the_matrix.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_3player.py
  test/test_strategies.py
  test/test_tensor_strategies.py
Labels: envs, test, core

refactored coop logging func and formatted
  .pre-commit-config.yaml
  experiment.log
  pax/runners/runner_eval_3player.py
  pax/watchers.py
  test/envs/test_ipd_in_the_matrix.py
  test/envs/test_iterated_tensor_game.py
Labels: core

updated
  pax/conf/experiment/ipd/gs_v_ppo.yaml
  pax/conf/experiment/ipd/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/experiment.py
  pax/runners/runner_eval_3player.py
Labels: core

updated
  pax/runners/runner_eval_3player.py
Labels: none

temporary commit, marl_sp not working
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/ipd/chaos_v_chaos_2pop.yaml
  pax/conf/experiment/ipd/marl2_v_nl.yaml
  pax/conf/experiment/ipd/marl2_v_tft.yaml
  pax/runner_evo_self_2pop.py
  pax/runner_marl_sp.py
Labels: core

time update
  pax/envs/iterated_tensor_game.py
Labels: envs

remove total_timestep calc
  pax/conf/experiment/cg/chaos_v_ppo_mem.yaml
  pax/conf/experiment/cg/earl_fixed.yaml
  pax/conf/experiment/cg/earl_v_tabular.yaml
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
  pax/conf/experiment/cg/eval_gs_v_ppo_mem.yaml
  pax/conf/experiment/cg/eval_mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/cg/eval_mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/cg/eval_nl_v_ppo_mem.yaml
  pax/conf/experiment/cg/gs_v_ppo_mem.yaml
  pax/conf/experiment/cg/gs_v_tabular.yaml
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_v_tabular.yaml
  pax/conf/experiment/impitm/train_gs.yaml
  pax/conf/experiment/ipditm/train_gs.yaml
Labels: none

removed from more configs
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
  pax/conf/experiment/cg/eval_mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/cg/eval_nl_v_ppo_mem.yaml
  pax/conf/experiment/cg/greedy.yaml
  pax/conf/experiment/cg/mfos.yaml
  pax/conf/experiment/cg/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/cg/pre_train.yaml
  pax/conf/experiment/cg/sanity.yaml
  pax/conf/experiment/cg/tabular.yaml
  pax/conf/experiment/imp/earl_v_ppo.yaml
  pax/conf/experiment/imp/earl_v_ppo_mem.yaml
  pax/conf/experiment/imp/earl_v_tabular.yaml
  pax/conf/experiment/imp/gs_v_ppo.yaml
  pax/conf/experiment/imp/gs_v_ppo_mem.yaml
  pax/conf/experiment/imp/gs_v_tabular.yaml
  pax/conf/experiment/imp/mfos_v_ppo.yaml
  pax/conf/experiment/imp/mfos_v_ppo_mem.yaml
  pax/conf/experiment/imp/mfos_v_tabular.yaml
  pax/conf/experiment/imp/ppo_v_all_tails.yaml
  pax/conf/experiment/imp/ppo_v_ppo.yaml
  pax/conf/experiment/imp/ppo_v_tft.yaml
  pax/conf/experiment/impitm/independent_learners.yaml
  pax/conf/experiment/ipd/inf_mfos_v_nl.yaml
  pax/conf/experiment/ipd/inf_mfos_v_tft.yaml
  pax/conf/experiment/ipd/marl2_v_tft.yaml
  pax/conf/experiment/ipd/mfos_v_tabular.yaml
  pax/conf/experiment/ipd/ppo_mem_v_tft.yaml
  pax/conf/experiment/ipd/shaper_fixed.yaml
Labels: none

fixing runner marl and env_type meta
  pax/conf/experiment/ipd/marl2_v_nl.yaml
  pax/conf/experiment/ipd/marl2_v_tft.yaml
  pax/runners/runner_marl.py
Labels: none

fixing runner marl and env_type meta (#151)
  pax/conf/experiment/ipd/marl2_v_nl.yaml
  pax/conf/experiment/ipd/marl2_v_tft.yaml
  pax/runners/runner_marl.py
Labels: none

removed from more configs
  pax/conf/experiment/cg/eval_gs_v_ppo_mem.yaml
  pax/conf/experiment/cg/eval_mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/cg/tabular.yaml
  pax/conf/experiment/imp/ppo_v_all_heads.yaml
  pax/conf/experiment/imp/tabular_v_all_heads.yaml
  pax/conf/experiment/imp/tabular_v_all_tails.yaml
  pax/conf/experiment/imp/tabular_v_tft.yaml
  pax/conf/experiment/ipd/marl2_v_nl.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/sarl/acrobot.yaml
  pax/conf/experiment/sarl/cartpole.yaml
Labels: none

removed from more configs
  pax/conf/experiment/impitm/sanity_eval.yaml
  pax/conf/experiment/impitm/train_mfos_rl.yaml
  pax/conf/experiment/ipd/nl_v_tft.yaml
  pax/conf/experiment/ipd/shaper_infinite.yaml
  pax/conf/experiment/ipd/shaper_v_ppo.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
  pax/conf/experiment/ipd/tabular_v_all_c.yaml
  pax/conf/experiment/ipd/tabular_v_all_d.yaml
  pax/conf/experiment/ipd/tabular_v_tabular.yaml
  pax/conf/experiment/ipd/tabular_v_tft.yaml
Labels: none

removed from more configs
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/imp/tabular_v_tabular.yaml
  pax/conf/experiment/impitm/independent_learners.yaml
  pax/conf/experiment/impitm/meta_eval_gs.yaml
  pax/conf/experiment/impitm/meta_eval_mfos-es.yaml
  pax/conf/experiment/impitm/meta_eval_mfos-rl.yaml
  pax/conf/experiment/impitm/meta_eval_nl.yaml
  pax/conf/experiment/impitm/meta_eval_shaper.yaml
  pax/conf/experiment/ipditm/meta_eval_gs.yaml
  pax/conf/experiment/ipditm/meta_eval_independent.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos-rl.yaml
  pax/conf/experiment/ipditm/meta_eval_mfos.yaml
  pax/conf/experiment/ipditm/meta_eval_shaper.yaml
Labels: none

no more configs
  pax/conf/experiment/ipd/ppo_v_tft.yaml
  pax/conf/experiment/ipditm/independent_learners.yaml
  pax/conf/experiment/ipditm/train_mfos_rl.yaml
Labels: none

Changed PPO optimiser
  README.md
  pax/agents/hyper/ppo.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/ipditm/independent_learners.yaml
  pax/experiment.py
Labels: core

fixed tests
  test/envs/test_in_the_matrix.py
Labels: none

removed numsteps from PPO
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
Labels: none

removed old test script
  test/envs/test_ipd_in_the_matrix.py
Labels: none

just fixing two configs
  pax/conf/experiment/ipd/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
Labels: none

removed batch size
  pax/agents/ppo/ppo_gru.py
Labels: none

good stuff
  pax/conf/experiment/ipd/shaper_v_ppo.yaml
  pax/experiment.py
Labels: core

fixed evo shaper stuff
  pax/conf/experiment/cg/train_gs.yaml
  pax/conf/experiment/cg/train_mfos_es.yaml
  pax/conf/experiment/cg/train_mfos_rl.yaml
  pax/conf/experiment/cg/train_shaper.yaml
  pax/conf/experiment/impitm/train_gs.yaml
  pax/conf/experiment/impitm/train_mfos_es.yaml
  pax/conf/experiment/impitm/train_shaper.yaml
  pax/conf/experiment/ipd/gs_v_ppo.yaml
  pax/conf/experiment/ipd/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipd/mfos_v_ppo.yaml
  pax/conf/experiment/ipd/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipd/mfos_v_tabular.yaml
  pax/conf/experiment/ipd/shaper_v_ppo.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
  pax/conf/experiment/ipditm/train_gs.yaml
  pax/conf/experiment/ipditm/train_mfos_es.yaml
  pax/conf/experiment/ipditm/train_shaper.yaml
  pax/envs/iterated_matrix_game.py
  pax/runners/runner_evo.py
Labels: envs

changed valuehead
  pax/agents/ppo/networks.py
Labels: none

changed valuehead
  pax/runners/runner_evo.py
Labels: none

changed valuehead
  pax/conf/experiment/cg/train_gs.yaml
  pax/conf/experiment/cg/train_mfos_es.yaml
  pax/conf/experiment/cg/train_shaper.yaml
  pax/conf/experiment/impitm/train_gs.yaml
  pax/conf/experiment/impitm/train_mfos_es.yaml
  pax/conf/experiment/impitm/train_shaper.yaml
  pax/conf/experiment/ipd/gs_v_ppo.yaml
  pax/conf/experiment/ipd/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipd/mfos_v_ppo.yaml
  pax/conf/experiment/ipd/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipd/mfos_v_tabular.yaml
  pax/conf/experiment/ipd/shaper_v_ppo.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
  pax/conf/experiment/ipditm/train_gs.yaml
  pax/conf/experiment/ipditm/train_mfos_es.yaml
  pax/conf/experiment/ipditm/train_shaper.yaml
Labels: none

changed back env counting for some reason
  pax/envs/iterated_matrix_game.py
Labels: envs

fixing iterated matrix games logger
  pax/experiment.py
Labels: core
