Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"

added impitm
  pax/conf/experiment/impitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/impitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/impitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/impitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/impitm/sanity.yaml
  pax/conf/experiment/impitm/sanity_eval.yaml
  pax/conf/experiment/impitm/sanity_evo.yaml
  pax/conf/experiment/impitm/shaper_eval.yaml
  pax/conf/experiment/mpitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/sanity.yaml
  pax/conf/experiment/mpitm/sanity_eval.yaml
  pax/conf/experiment/mpitm/sanity_evo.yaml
  pax/conf/experiment/mpitm/shaper_eval.yaml
Labels: none

added impitm
  pax/conf/experiment/mpitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/mpitm/sanity.yaml
  pax/conf/experiment/mpitm/sanity_eval.yaml
  pax/conf/experiment/mpitm/sanity_evo.yaml
  pax/conf/experiment/mpitm/shaper_eval.yaml
Labels: none

fixed main() render
  pax/envs/ipd_in_the_matrix.py
Labels: envs

added icgitm
  pax/conf/experiment/icgitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/sanity.yaml
  pax/conf/experiment/icgitm/sanity_eval.yaml
  pax/conf/experiment/icgitm/sanity_evo.yaml
  pax/conf/experiment/icgitm/shaper_eval.yaml
Labels: none

added icgitm
  pax/conf/experiment/icgitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/sanity.yaml
  pax/conf/experiment/icgitm/sanity_eval.yaml
  pax/conf/experiment/icgitm/sanity_evo.yaml
  pax/conf/experiment/icgitm/shaper_eval.yaml
Labels: none

cleared up cg
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_rl_v_ppo_mem.yaml
Labels: none

log correctly for mfos-rl
  pax/conf/experiment/cg/mfos_rl_v_ppo_mem.yaml
Labels: none

updated eval config with final run for chaos
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

updated eval config with final run for chaos run_path
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

updated eval config with final run for chaos run_path
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

updated eval config with final run for chaos run_path
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

updated eval config with final run for chaos run_path networks
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

add save gif args
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

add save gif args
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

add save gif args
  pax/runner_ipditm_eval.py
Labels: core

added gs save to eval shaper
  pax/conf/experiment/icgitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/icgitm/sanity.yaml
  pax/conf/experiment/icgitm/sanity_eval.yaml
  pax/conf/experiment/icgitm/sanity_evo.yaml
  pax/conf/experiment/icgitm/shaper_eval.yaml
  pax/conf/experiment/impitm/shaper_eval.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

added gs save to eval shaper
  pax/conf/experiment/ipditm/shaper_eval _chaos.yaml
  pax/conf/experiment/ipditm/shaper_eval_gs.yaml
Labels: none

added gs save to eval shaper
  pax/conf/experiment/ipditm/shaper_eval_gs.yaml
Labels: none

added gs save to eval shaper
  pax/conf/experiment/ipditm/shaper_eval_gs.yaml
Labels: none

i changed the configs
  pax/conf/experiment/ipditm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/shaper_eval_mfos.yaml
Labels: none

updated impitm
  pax/conf/experiment/impitm/mfos_es_v_ppo_mem.yaml
Labels: none

added eval configs to impitm
  pax/conf/experiment/impitm/shaper_eval _chaos.yaml
  pax/conf/experiment/impitm/shaper_eval_gs.yaml
  pax/conf/experiment/impitm/shaper_eval_mfos.yaml
Labels: none

added model paths configs to impitm
  pax/conf/experiment/impitm/shaper_eval _chaos.yaml
  pax/conf/experiment/impitm/shaper_eval_gs.yaml
  pax/conf/experiment/impitm/shaper_eval_mfos.yaml
Labels: none

added model paths configs to impitm
  pax/conf/experiment/impitm/shaper_eval _chaos.yaml
  pax/conf/experiment/impitm/shaper_eval_gs.yaml
  pax/conf/experiment/impitm/shaper_eval_mfos.yaml
Labels: none

added model paths configs to impitm and error
  pax/conf/experiment/impitm/shaper_eval_chaos.yaml
Labels: none

added model paths configs to impitm and error
  pax/conf/experiment/impitm/shaper_eval_chaos.yaml
  pax/conf/experiment/impitm/shaper_eval_gs.yaml
  pax/conf/experiment/impitm/shaper_eval_mfos.yaml
Labels: none

added longer total_timesteps
  pax/conf/experiment/impitm/sanity.yaml
  pax/conf/experiment/ipditm/sanity.yaml
Labels: none

added shaper eval independent
  pax/conf/experiment/ipditm/shaper_eval_independent.yaml
Labels: none

added shaper eval independent + fix
  pax/conf/experiment/ipditm/shaper_eval_independent.yaml
Labels: none

added shaper eval independent + fix
  pax/conf/experiment/ipditm/shaper_eval_independent.yaml
Labels: none

added shaper eval independent + fix
  pax/conf/experiment/ipditm/shaper_eval_independent.yaml
Labels: none

added shaper eval independent + fix
  pax/conf/experiment/ipditm/shaper_eval_independent.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none
