Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_chaos_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_gs_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_gs_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_mfos_rl_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_mfos_rl_v_ppo_mem.yaml
Labels: none

added cg eval
  pax/conf/experiment/cg/eval_mfos_es_v_ppo_mem.yaml
Labels: none

added cg nl eval
  pax/conf/experiment/cg/eval_nl_v_ppo_mem.yaml
Labels: none

added cg nl eval
  pax/conf/experiment/cg/eval_nl_v_ppo_mem.yaml
Labels: none

added cg nl eval
  pax/conf/experiment/cg/eval_nl_v_ppo_mem.yaml
Labels: none

added cg nl eval
  pax/conf/experiment/cg/eval_nl_v_ppo_mem.yaml
Labels: none

added impitm nl eval
  pax/conf/experiment/impitm/shaper_eval_nl.yaml
Labels: none

added impitm nl eval
  pax/conf/experiment/impitm/shaper_eval_nl.yaml
Labels: none

added impitm nl eval
  pax/conf/experiment/impitm/shaper_eval_nl.yaml
Labels: none

added impitm sanity again
  pax/conf/experiment/impitm/sanity.yaml
Labels: none

added impitm sanity again
  pax/conf/experiment/impitm/shaper_eval_nl.yaml
Labels: none

added impitm sanity again
  pax/conf/experiment/impitm/shaper_eval_mfos-rl.yaml
Labels: none

added mfos-rl again
  pax/conf/experiment/impitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/impitm/sanity.yaml
Labels: none

added ipditm-eval-nl again
  pax/conf/experiment/impitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/shaper_eval_mfos-rl.yaml
Labels: none

added ipditm-mfos again
  pax/conf/experiment/ipditm/shaper_eval_mfos.yaml
Labels: none

added mfos-rl compatability eval
  pax/runner_ipditm_eval.py
Labels: core

added mfos-es config impitm
  pax/conf/experiment/impitm/shaper_eval_mfos.yaml
Labels: none

added mfos-rl eval
  pax/conf/experiment/ipditm/shaper_eval_mfos-rl.yaml
  pax/conf/experiment/ipditm/shaper_eval_mfos.yaml
Labels: none

added mfos-rl eval
  pax/conf/experiment/ipditm/shaper_eval_mfos-rl.yaml
Labels: none

added mfos-rl ipditm eval
  pax/conf/experiment/impitm/shaper_eval_mfos-rl.yaml
Labels: none

moved all fixed-coins=False for impitm
  pax/conf/experiment/impitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/impitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/impitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/impitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/impitm/sanity.yaml
  pax/conf/experiment/impitm/sanity_eval.yaml
  pax/conf/experiment/impitm/sanity_evo.yaml
  pax/conf/experiment/impitm/shaper_eval_chaos.yaml
  pax/conf/experiment/impitm/shaper_eval_gs.yaml
  pax/conf/experiment/impitm/shaper_eval_mfos-rl.yaml
  pax/conf/experiment/impitm/shaper_eval_mfos.yaml
  pax/conf/experiment/impitm/shaper_eval_nl.yaml
Labels: none

act some changes
  pax/conf/experiment/act/act.yaml
  pax/conf/experiment/sarl/acrobot.yaml
  pax/experiment.py
  pax/runner_act.py
Labels: core

fixed load
  pax/conf/experiment/ipditm/shaper_eval_chaos.yaml
Labels: none

updated
  pax/conf/experiment/impitm/shaper_eval_chaos.yaml
  pax/conf/experiment/impitm/shaper_eval_mfos.yaml
  pax/conf/experiment/ipditm/shaper_eval_mfos.yaml
Labels: none

updated
  .gitignore
Labels: none

updated to render videos better
  pax/conf/experiment/impitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/impitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/impitm/mfos_es_v_ppo_mem.yaml
  pax/runner_ipditm_eval.py
Labels: core

updated to render videos better
  pax/conf/experiment/ipditm/shaper_eval_chaos.yaml
  pax/conf/experiment/ipditm/shaper_eval_gs.yaml
Labels: none

updated to render videos better
  pax/runner_ipditm_eval.py
Labels: core

updated to render videos better
  pax/runner_ipditm_eval.py
Labels: core

tests are passing
  experiment.log
  outputs/2023-01-18/19-35-11/experiment.log
  pax/conf/config.yaml
  pax/conf/experiment/ipd/alex_exp.yaml
  pax/conf/experiment/ipd/earl_v_ppo.yaml
  pax/envs/iterated_tensor_game.py
  pax/experiment.py
  pax/runner_evo.py
  pax/runner_marl_3ppl.py
  requirements.txt
  test/envs/test_iterated_tensor_game.py
Labels: envs, conf, core

tensor game
  experiment.log
Labels: none

new payoff matrix
  experiment.log
  pax/conf/experiment/ipd/alex_exp.yaml
Labels: none

moved to tensor repo
  pax/agents/ppo/networks.py
  pax/conf/config.yaml
  pax/conf/experiment/ipd/earl_v_ppo.yaml
  pax/conf/experiment/tensor/ppo_v_ppo_v_ppo.yaml
  pax/envs/iterated_tensor_game.py
  pax/experiment.py
  pax/runner_evo.py
  pax/runner_marl_3ppl.py
  pax/runner_sarl.py
  test/envs/test_iterated_tensor_game.py
Labels: envs, conf, core

update configs
  README.md
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/impitm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/impitm/gs_v_ppo_mem.yaml
  pax/conf/experiment/impitm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/impitm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/impitm/sanity.yaml
  pax/conf/experiment/ipd/sanity.yaml
  pax/conf/experiment/mp/ppo_v_ppo.yaml
  pax/envs/iterated_matrix_game.py
  pax/experiment.py
Labels: envs, core
