Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

reduce num_episodes
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
Labels: none

added flag for fixed envs
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity.yaml
  pax/envs/iterated_matrix_game.py
  pax/experiment.py
  pax/runner_evo.py
  pax/runner_marl.py
Labels: envs, core

fixed timesteps
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity.yaml
  pax/envs/ipd_in_the_matrix.py
  pax/envs/iterated_matrix_game.py
Labels: envs

different visualisation
  pax/envs/ipd_in_the_matrix.py
Labels: envs

added fixed env to rng
  pax/runner_ipditm_eval.py
  pax/runner_ipditm_pretrain.py
Labels: core

render now shows who won
  pax/envs/ipd_in_the_matrix.py
Labels: envs

added timebars
  pax/envs/ipd_in_the_matrix.py
Labels: envs

kill dead runner
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_pretrain.yaml
  pax/experiment.py
  pax/runner_ipditm_eval.py
  pax/runner_ipditm_pretrain.py
Labels: core

render better
  pax/runner_ipditm_eval.py
Labels: core

updated to run gif
  pax/conf/experiment/ipditm/sanity_pretrain.yaml
  pax/runner_ipditm_eval.py
  pax/watchers.py
Labels: core

fixed a stupid mistake in fixed env
  pax/runner_evo.py
  pax/runner_ipditm_eval.py
  pax/runner_marl.py
Labels: core

added timebars
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_pretrain.yaml
  pax/envs/ipd_in_the_matrix.py
Labels: envs

removed fixed env
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_pretrain.yaml
  pax/envs/ipd_in_the_matrix.py
  pax/runner_evo.py
  pax/runner_ipditm_eval.py
  pax/runner_marl.py
Labels: envs, core

added a test
  pax/envs/ipd_in_the_matrix.py
  test/envs/test_ipd_in_the_matrix.py
  test/envs/test_running_with_scissors.py
Labels: envs

updated random to work with ipditm
  pax/agents/strategies.py
  pax/experiment.py
  pax/runner_marl.py
Labels: agent, core

updated base inventory to only 2
  pax/envs/ipd_in_the_matrix.py
Labels: envs

consolidate training iterations to be same for both runners!
  pax/runner_evo.py
  pax/runner_marl.py
Labels: core

minor changes
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_pretrain.yaml
  pax/runner_marl.py
Labels: core

more realisitic save config
  pax/conf/experiment/ipditm/sanity.yaml
Labels: none

cleaned up runners for saving
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
  pax/runner_ipditm_eval.py
Labels: core

Co-authored-by: Timon Willi <Aidandos@users.noreply.github.com>
  pax/agents/ppo/ppo_gru.py
Labels: none

fixed save
  pax/runner_evo.py
  pax/runner_marl.py
  pax/runner_sarl.py
Labels: core

changed env again + fixes for groups and logging to be nice
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
  pax/experiment.py
  pax/runner_evo.py
  pax/runner_ipditm_eval.py
Labels: core

changed env again + fixes for groups and logging to be nice
  pax/envs/ipd_in_the_matrix.py
Labels: envs

changed env again + made fixed again
  pax/envs/ipd_in_the_matrix.py
Labels: envs

stop agents spawning on coins
  pax/envs/ipd_in_the_matrix.py
Labels: envs

added render for ties
  pax/envs/ipd_in_the_matrix.py
Labels: envs

changed test to make sure it works
  test/envs/test_ipd_in_the_matrix.py
Labels: none

set wandb.log=True and then also added sanity evo
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
Labels: none

cleaning up logging + evo sanity
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/envs/ipd_in_the_matrix.py
  pax/experiment.py
  pax/runner_evo.py
Labels: envs, core

added center rank - lets see what happens
  pax/runner_evo.py
Labels: core

added center rank - lets see what happens
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/runner_evo.py
Labels: core

added center rank - lets see what happens (with edits)
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/runner_evo.py
Labels: core

removed network being seperate
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

no longer seperate and longer gen time
  pax/conf/experiment/ipditm/sanity_evo.yaml
Labels: none

trying roberts parameters
  pax/conf/experiment/ipditm/sanity_evo.yaml
Labels: none

turn off wdecay
  pax/runner_evo.py
Labels: core

changed ipditm ppo_mem network
  pax/agents/ppo/networks.py
Labels: none

changed ipditm ppo_mem network
  pax/conf/experiment/ipditm/sanity_evo.yaml
Labels: none

w decay
  pax/runner_evo.py
Labels: core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"
