Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

optstate vmap success
  pax/agents/ppo/ppo.py
  pax/conf/experiment/ipd/shaper_att_v_ppo.yaml
  pax/experiment.py
  pax/runners/runner_evo_hardstop.py
Labels: core

intermediate commit
  pax/conf/experiment/ipd/shaper_att_v_ppo_mem.yaml
  pax/experiment.py
  pax/runners/runner_evo_mixed_lr.py
Labels: core

save last gen
  pax/runners/runner_evo_multishaper.py
Labels: none

3pl sh
  pax/conf/experiment/n_player/shaper/3pl_sh.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval.yaml
Labels: none

4pl sh
  pax/conf/experiment/n_player/shaper/4pl_sh.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval.yaml
Labels: none

5pl sh
  pax/conf/experiment/n_player/shaper/5pl_sh.yaml
Labels: none

3pl sd
  pax/conf/experiment/n_player/shaper/3pl_sd.yaml
  pax/conf/experiment/n_player/shaper/5pl_sd.yaml
Labels: none

4pl sd
  pax/conf/experiment/n_player/shaper/4pl_sd.yaml
Labels: none

5pl sd
  pax/conf/experiment/n_player/shaper/5pl_sd.yaml
Labels: none

tc
  pax/conf/experiment/n_player/shaper/3pl_tc.yaml
  pax/conf/experiment/n_player/shaper/4pl_tc.yaml
  pax/conf/experiment/n_player/shaper/5pl_tc.yaml
Labels: none

save last gen for real this time
  pax/runners/runner_evo_nplayer.py
Labels: none

wand timeout
  pax/experiment.py
Labels: core

script to run multiple seeds
  pax/conf/experiment/n_player/shaper/3pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/3pl_sd.yaml
  pax/conf/experiment/n_player/shaper/3pl_sh.yaml
  pax/conf/experiment/n_player/shaper/3pl_tc.yaml
  pax/conf/experiment/n_player/shaper/4pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/4pl_sd.yaml
  pax/conf/experiment/n_player/shaper/4pl_sh.yaml
  pax/conf/experiment/n_player/shaper/4pl_tc.yaml
  pax/conf/experiment/n_player/shaper/5pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/5pl_sd.yaml
  pax/conf/experiment/n_player/shaper/5pl_sh.yaml
  pax/conf/experiment/n_player/shaper/5pl_tc.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sh_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_tc_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_ipd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_tc_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_ipd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sh_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_tc_eval.yaml
  pax/conf/experiment/n_player/shaper/run_ipd.sh
  pax/conf/experiment/n_player/shaper/run_one_shaper.sh
Labels: none

script to run multiple seeds
  pax/conf/experiment/n_player/shaper/run_one_shaper.sh
Labels: none

seeds shifted
  pax/conf/experiment/n_player/shaper/run_one_shaper.sh
Labels: none

intermediary push, gonna look at _pred next
  pax/agents/shaper_pred/networks.py
  pax/agents/shaper_pred/ppo_gru.py
  pax/conf/experiment/ipd/ppo_mem_v_tft.yaml
  pax/conf/experiment/ipd/shaper_att_v_tabular.yaml
  pax/conf/experiment/ipd/shaper_v_ppo.yaml
  pax/experiment.py
  pax/runners/runner_evo_mixed_payoffs.py
  pax/runners/runner_evo_mixed_payoffs_gen.py
  pax/runners/runner_evo_mixed_payoffs_input.py
  pax/runners/runner_evo_mixed_payoffs_input_onlymeta.py
  pax/runners/runner_evo_mixed_payoffs_pred.py
  pax/runners/runner_evo_scanned.py
Labels: core

Update README.md
  README.md
Labels: none

started env but ugh
  pax/envs/3pp_two_round_matrix_game.py
Labels: envs

quick test
  pax/envs/infinite_matrix_game.py
Labels: envs

Revert "quick test"
  pax/envs/infinite_matrix_game.py
Labels: envs

3pl punishment works
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/3pp_2round_matrix/test.yaml
  pax/envs/3pp_two_round_matrix_game.py
  pax/envs/third_party_punishment.py
  pax/experiment.py
  pax/runners/runner_eval_multipshaper.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_evo_third_party.py
  pax/watchers.py
  test/envs/test_third_party.py
Labels: envs, core

sd eval
  pax/conf/experiment/n_player/shaper/evals/3pl_sd_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sd_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sd_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sd_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sd_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sd_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sd_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sd_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sd_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sd_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/eval_sd.sh
Labels: none

naive baseline
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/experiment.py
  pax/runners/runner_marl_third_party.py
Labels: core

naive baseline
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/experiment.py
  pax/runners/runner_marl_third_party.py
Labels: core

god im an idiot
  pax/experiment.py
Labels: core

fixed rl runner
  pax/agents/third_party_strategies.py
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/eval_ipd.sh
  pax/experiment.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_3player.py
  pax/runners/runner_marl_nplayer.py
  pax/runners/runner_marl_third_party.py
Labels: agent, core

3pl op nums
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_2shap_ipd_eval.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_4shap_sd_eval.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_ipd.yaml
  pax/conf/experiment/multi-shapers/run_tc.sh
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval5.yaml
Labels: none

trying shaper for 3pp
  pax/agents/third_party_strategies.py
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/conf/experiment/3pp_2round_matrix/test.yaml
  pax/envs/third_party_punishment_store.py
  pax/experiment.py
  pax/runners/runner_eval_multipshaper.py
  pax/runners/runner_evo_third_party.py
  pax/runners/runner_marl_third_party.py
  pax/watchers.py
Labels: envs, agent, core

trying shaper for 3pp
  pax/agents/third_party_strategies.py
  pax/conf/experiment/3pp_2round_matrix/test.yaml
  pax/envs/third_party_punishment.py
  pax/envs/third_party_punishment_store.py
  pax/experiment.py
  pax/runners/runner_eval_multipshaper.py
  pax/runners/runner_evo_third_party.py
  pax/watchers.py
Labels: envs, agent, core

adding sh files
  pax/conf/experiment/n_player/shaper/run_one_shaper.sh
  pax/conf/experiment/n_player/shaper/run_one_shaper_gpu1.sh
  pax/conf/experiment/n_player/shaper/run_one_shaper_gpu2.sh
  pax/conf/experiment/n_player/shaper/run_one_shaper_gpu3.sh
  pax/conf/experiment/n_player/shaper/run_one_shaper_quick.sh
Labels: none

n4shap3ipd conf
  pax/conf/experiment/multi-shapers/n4pl_3shap_ipd.yaml
Labels: none

pushed logging
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/watchers.py
Labels: core

adding mixed ipd payoff runner
  pax/experiment.py
  pax/runners/runner_evo_mixed_IPD_payoffs.py
Labels: core

new runner bugged
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/conf/experiment/multi-shapers/eval/n3pl_2shap_ipd_eval.yaml
  pax/conf/experiment/multi-shapers/eval/n4pl_2shap_ipd_eval.yaml
  pax/conf/experiment/multi-shapers/eval/n4pl_3shap_ipd_eval.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_3shap_ipd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_ipd_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_ipd_eval4.yaml
  pax/envs/third_party_punishment_store.py
  pax/envs/third_party_random.py
  pax/experiment.py
  pax/runners/new_runner_marl_third_party.py
  pax/runners/runner_eval_multipshaper.py
  pax/runners/runner_evo_third_party.py
  pax/watchers.py
Labels: envs, core

3pp bug fixed and timon script
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/conf/experiment/multi-shapers/timon_script.sh
  pax/envs/third_party_random.py
  pax/runners/old_runner_marl_third_party.py
  pax/runners/runner_marl_third_party.py
Labels: envs

fixing ppo configs
  pax/conf/experiment/multi-shapers/n3pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_tc.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_tc.yaml
Labels: none

config fixed
  pax/conf/experiment/multi-shapers/n3pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_tc.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_tc.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_tc.yaml
Labels: none

3pp version2 runs
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/3pp_2round_matrix/naive_test.yaml
  pax/conf/experiment/3pp_2round_matrix/test.yaml
  pax/envs/third_party_random.py
  pax/experiment.py
  pax/runners/old_runner_marl_third_party.py
  pax/runners/runner_evo_third_party.py
  pax/runners/runner_marl_third_party.py
  pax/watchers.py
Labels: envs, core

more ipd runs
  pax/conf/experiment/multi-shapers/timon2.sh
  pax/conf/experiment/n_player/shaper/3pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/4pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/5pl_ipd.yaml
  pax/envs/third_party_random.py
  pax/runners/runner_evo_third_party.py
  pax/runners/runner_marl_third_party.py
  pax/watchers.py
Labels: envs, core

fixed evo runner param saving
  pax/conf/experiment/multi-shapers/eval/n3pl_2shap_sh_eval0.yaml
  pax/conf/experiment/multi-shapers/eval/n3pl_2shap_sh_eval1.yaml
  pax/conf/experiment/multi-shapers/eval/n3pl_2shap_sh_eval2.yaml
  pax/conf/experiment/multi-shapers/eval/n3pl_2shap_sh_eval3.yaml
  pax/conf/experiment/multi-shapers/eval/n3pl_2shap_sh_eval4.yaml
  pax/conf/experiment/multi-shapers/eval/n4pl_2shap_sd_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sh_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sh_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sh_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sh_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sh_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_tc_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_tc_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_tc_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_tc_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_tc_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_tc_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_tc_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_tc_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_tc_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_tc_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sh_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sh_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sh_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sh_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sh_eval5.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_tc_eval1.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_tc_eval2.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_tc_eval3.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_tc_eval4.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_tc_eval5.yaml
  pax/envs/third_party_random.py
  pax/runners/runner_eval_multipshaper.py
  pax/runners/runner_evo_multishaper.py
  pax/watchers.py
Labels: envs, core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"
