Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"

most of the changes
  pax/agents/lola/lola.py
  pax/experiment.py
  pax/runners/runner_marl.py
Labels: core

most of the changes
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/envs/coin_game.py
  pax/envs/in_the_matrix.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/test_tensor_strategies.py
Labels: envs, test, core

more stuff
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/envs/coin_game.py
  pax/envs/in_the_matrix.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/test_tensor_strategies.py
Labels: envs, test, core

test optimal policy
  test/envs/test_cournot_game.py
Labels: none

improvements: cournot optimum v nash optimum, fishery configs
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo.py
  pax/conf/experiment/cournot/mfos_v_ppo.yaml
  pax/conf/experiment/cournot/ppo_v_ppo.yaml
  pax/conf/experiment/cournot/shaper_v_ppo.yaml
  pax/conf/experiment/fishery/gs_v_ppo.yaml
  pax/conf/experiment/fishery/mfos_v_ppo.yaml
  pax/conf/experiment/fishery/ppo_v_ppo.yaml
  pax/conf/experiment/fishery/shaper_v_ppo.yaml
  pax/envs/cournot.py
  pax/envs/fishery.py
  pax/experiment.py
  pax/runners/README.md
  pax/runners/runner_evo.py
  pax/runners/runner_marl.py
  pax/watchers.py
  test/envs/test_cournot.py
  test/envs/test_fishery.py
Labels: envs, core

fix cournot test
  pax/envs/cournot.py
  pax/watchers.py
  test/envs/test_cournot_game.py
  test/envs/test_fishery.py
Labels: envs, core

fishery eval checkpoint
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/cournot/gs_v_ppo.yaml
  pax/conf/experiment/cournot/marl_baseline.yaml
  pax/conf/experiment/cournot/mfos_v_ppo.yaml
  pax/conf/experiment/cournot/shaper_v_ppo.yaml
  pax/conf/experiment/fishery/eval_gs_v_ppo.yaml
  pax/conf/experiment/fishery/eval_marl_baseline.yaml
  pax/conf/experiment/fishery/marl_baseline.yaml
  pax/conf/experiment/fishery/mfos_v_ppo.yaml
  pax/conf/experiment/fishery/shaper_v_ppo.yaml
  pax/envs/rice_n.py
  pax/experiment.py
  pax/runners/runner_eval.py
  pax/runners/runner_evo.py
  pax/runners/runner_marl.py
  pax/watchers/__init__.py
  pax/watchers/cournot.py
  pax/watchers/fishery.py
  test/envs/test_fishery.py
Labels: envs, core

Add cournot game
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo.py
  pax/conf/config.yaml
  pax/conf/experiment/cournot/ppo_v_ppo.yaml
  pax/envs/cournot.py
  pax/envs/infinite_matrix_game.py
  pax/envs/iterated_matrix_game.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/watchers.py
  requirements.txt
  test/envs/test_cournot_game.py
Labels: envs, conf, core

fix cournot test and config
  pax/conf/experiment/cournot/gs_v_ppo.yaml
  pax/conf/experiment/cournot/mfos_v_ppo.yaml
  pax/conf/experiment/cournot/ppo_v_ppo.yaml
  pax/envs/cournot.py
  pax/runners/runner_marl.py
  pax/watchers.py
  test/envs/test_cournot_game.py
Labels: envs, core

checkpoint: parity between pax rice and ai4coop rice
  pax/envs/region_yamls/default.yml
  pax/envs/rice.py
  pax/watchers/rice.py
  test/envs/test_rice.py
Labels: envs

Add more cournot configs, fixes and first draft of the fishery environment
  pax/agents/mfos_ppo/networks.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/conf/experiment/cournot/gs_v_ppo.yaml
  pax/conf/experiment/cournot/mfos_v_ppo.yaml
  pax/conf/experiment/fishery/ppo_v_ppo.yaml
  pax/envs/cournot.py
  pax/envs/fishery.py
  pax/experiment.py
  pax/watchers.py
  test/envs/test_cournot_game.py
Labels: envs, core

nplayer
  .vscode/settings.json
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/n_player/3pl.yaml
  pax/conf/experiment/n_player/3pl_old_payoff.yaml
  pax/conf/experiment/n_player/4pl.yaml
  pax/conf/experiment/n_player/5pl.yaml
  pax/experiment.py
  pax/runners/runner_eval_nplayer.py
  pax/runners/runner_evo_nplayer.py
  pax/watchers.py
Labels: core

fix fishery tests
  pax/conf/experiment/cournot/gs_v_ppo.yaml
  pax/conf/experiment/cournot/mfos_v_ppo.yaml
  pax/conf/experiment/cournot/ppo_v_ppo.yaml
  pax/conf/experiment/fishery/ppo_v_ppo.yaml
  pax/envs/fishery.py
  pax/runners/runner_evo.py
  pax/runners/runner_marl.py
  pax/watchers.py
  test/envs/test_fishery.py
Labels: envs, core

n player fixes, n player cournot
  pax/envs/cournot.py
  pax/experiment.py
  pax/runners/runner_eval_nplayer.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_nplayer.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
  pax/watchers/cournot.py
  requirements.txt
  test/envs/test_cournot.py
Labels: envs, core

add a rice_n regression
  pax/conf/experiment/rice/ctde.yaml
  pax/conf/experiment/rice/sarl.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/envs/rice/rice.py
  pax/runners/runner_ctde.py
  pax/runners/runner_evo_nplayer.py
  pax/watchers/rice.py
  test/envs/test_rice.py
  test/envs/test_rice/test_rice_regression.yml
Labels: none

checkpoint
  README.md
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo.py
  pax/conf/experiment/rice/debug.yaml
  pax/envs/rice/rice.py
  pax/utils.py
  profile_nplayer.ipynb
  requirements.txt
  test/envs/test_rice.py
Labels: core

refactor watchers file and fix some types and unused imports
  .gitignore
  .vscode/launch.json
  pax/agents/hyper/networks.py
  pax/agents/lola/lola.py
  pax/agents/lola/network.py
  pax/agents/mfos_ppo/networks.py
  pax/agents/naive/buffer.py
  pax/agents/naive/naive.py
  pax/agents/ppo/buffer.py
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo.py
  pax/agents/strategies.py
  pax/agents/tensor_strategies.py
  pax/conf/experiment/fishery/marl_baseline.yaml
  pax/conf/experiment/fishery/mfos_v_ppo.yaml
  pax/conf/experiment/fishery/shaper_v_ppo.yaml
  pax/conf/experiment/fishery/weight_sharing.yaml
  pax/conf/experiment/ipd/inf_mfos_v_nl.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/envs/fishery.py
  pax/envs/iterated_matrix_game.py
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_eval_multishaper.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
  pax/watchers.py
  pax/watchers/__init__.py
  test/envs/test_rice.py
  test/test_tensor_strategies.py
Labels: envs, agent, test, core

rice consistency checkpoint
  pax/agents/naive/naive.py
  pax/agents/naive/network.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/cournot/mfos_v_ppo.yaml
  pax/conf/experiment/rice/ctde.yaml
  pax/conf/experiment/rice/marl_baseline.yaml
  pax/conf/experiment/rice/mediator_gs_naive.yaml
  pax/conf/experiment/rice/mediator_gs_ppo.yaml
  pax/conf/experiment/rice/mediator_shaper.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/envs/rice/rice.py
  pax/experiment.py
  pax/runners/runner_ctde.py
  pax/runners/runner_eval_nplayer.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_nplayer.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
  pax/watchers/cournot.py
  pax/watchers/rice.py
  test/envs/test_rice.py
  test/envs/test_rice/test_rice_regression.yml
Labels: core

fully vectorized rice environment
  pax/envs/rice/rice.py
  test/envs/test_rice.py
Labels: none

fixes
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_weight_sharing.py
Labels: core

more refactoring
  pax/agents/naive/naive.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/c_rice/debug.yaml
  pax/conf/experiment/c_rice/marl_baseline.yaml
  pax/conf/experiment/c_rice/mediator_gs_naive.yaml
  pax/conf/experiment/c_rice/mediator_gs_ppo.yaml
  pax/conf/experiment/c_rice/shaper_v_ppo.yaml
  pax/conf/experiment/c_rice/weight_sharing.yaml
  pax/conf/experiment/rice/debug.yaml
  pax/conf/experiment/rice/marl_baseline.yaml
  pax/conf/experiment/rice/mediator_gs_naive.yaml
  pax/conf/experiment/rice/mediator_gs_ppo.yaml
  pax/conf/experiment/rice/mediator_shaper.yaml
  pax/conf/experiment/rice/mfos_v_ppo.yaml
  pax/conf/experiment/rice/sarl.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/conf/experiment/rice/weight_sharing.yaml
  pax/envs/rice/c_rice.py
  pax/envs/rice/rice.py
  pax/envs/rice/sarl_rice.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_sarl.py
  pax/runners/runner_weight_sharing.py
Labels: core

checkpoint
  pax/agents/ppo/ppo_gru.py
  pax/conf/config.yaml
  pax/conf/experiment/c_rice/mediator_gs_ppo.yaml
  pax/conf/experiment/rice/gs_v_ppo.yaml
  pax/envs/rice/rice.py
  pax/experiment.py
  pax/runners/runner_evo.py
Labels: conf, core

checkpoint
  pax/agents/ppo/networks.py
  pax/conf/config.yaml
  pax/conf/experiment/rice/debug.yaml
  pax/conf/experiment/rice/marl_baseline.yaml
  pax/conf/experiment/rice/mediator_gs_naive.yaml
  pax/conf/experiment/rice/mediator_gs_ppo.yaml
  pax/conf/experiment/rice/mediator_shaper.yaml
  pax/conf/experiment/rice/sarl.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/conf/experiment/rice/weight_sharing.yaml
  pax/envs/rice/rice.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_weight_sharing.py
  pax/watchers/rice.py
  profile_nplayer.ipynb
  test/envs/test_fishery.py
  test/envs/test_rice.py
  test/envs/test_rice/test_rice_regression.yml
Labels: conf, core

cleanup
  docs/envs.md
  pax/conf/experiment/c_rice/debug.yaml
  pax/conf/experiment/c_rice/marl_baseline.yaml
  pax/conf/experiment/c_rice/mediator_gs_naive.yaml
  pax/conf/experiment/c_rice/mediator_gs_ppo.yaml
  pax/conf/experiment/c_rice/shaper_v_ppo.yaml
  pax/conf/experiment/c_rice/weight_sharing.yaml
  pax/conf/experiment/n_player/3pl.yaml
  pax/conf/experiment/n_player/3pl_old_payoff.yaml
  pax/conf/experiment/n_player/4pl.yaml
  pax/conf/experiment/n_player/5pl.yaml
  pax/envs/rice/c_rice.py
  pax/runners/runner_eval_nplayer.py
  pax/runners/runner_evo_nplayer.py
  pax/utils.py
  profile_nplayer.ipynb
Labels: docs, core

fix fishery
  pax/agents/mfos_ppo/ppo_gru.py
  pax/conf/experiment/rice/mfos_v_ppo.yaml
  pax/conf/experiment/rice/sarl.yaml
  pax/conf/experiment/rice/weight_sharing.yaml
  pax/envs/rice/c_rice.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/runners/runner_weight_sharing.py
  pax/watchers/rice.py
  test/envs/test_fishery.py
  test/envs/test_rice.py
  test/envs/test_rice/test_rice_regression.yml
Labels: core

Add pytest regression
  requirements.txt
Labels: none

more experiments plus rice refactor
  optim_test.py
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/config.yaml
  pax/conf/experiment/c_rice/eval_mediator_gs_ppo.yaml
  pax/conf/experiment/c_rice/marl_baseline.yaml
  pax/conf/experiment/c_rice/mediator_gs_ppo.yaml
  pax/conf/experiment/c_rice/shaper_v_ppo.yaml
  pax/conf/experiment/c_rice/weight_sharing.yaml
  pax/conf/experiment/cournot/weight_sharing.yaml
  pax/conf/experiment/fishery/eval_weight_sharing_v_ppo.yaml
  pax/conf/experiment/fishery/gs_v_ppo.yaml
  pax/conf/experiment/fishery/mfos_v_ppo.yaml
  pax/conf/experiment/fishery/shaper_v_ppo.yaml
  pax/conf/experiment/fishery/weight_sharing.yaml
  pax/conf/experiment/rice/debug.yaml
  pax/conf/experiment/rice/eval_shaper_v_ppo.yaml
  pax/conf/experiment/rice/marl_baseline.yaml
  pax/conf/experiment/rice/sarl.yaml
  pax/envs/fishery.py
  pax/envs/rice/c_rice.py
  pax/envs/rice/rice.py
  pax/envs/rice/sarl_rice.py
  pax/experiment.py
  pax/runners/runner_eval.py
  pax/runners/runner_evo.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
  pax/runners/runner_sarl.py
  pax/runners/runner_weight_sharing.py
  pax/utils.py
  pax/watchers/c_rice.py
  pax/watchers/fishery.py
  test/envs/test_fishery.py
  test/envs/test_rice.py
Labels: envs, conf, core

tests failing
  .github/workflows/test.yaml
  optim_test.py
  pax/agents/lola/lola.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/naive/naive.py
  pax/agents/naive/network.py
  pax/agents/ppo/batched_envs.py
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/agents/tensor_strategies.py
  pax/envs/cournot.py
  pax/envs/fishery.py
  pax/envs/infinite_matrix_game.py
  pax/envs/rice/c_rice.py
  pax/envs/rice/rice.py
  pax/envs/rice/sarl_rice.py
  pax/experiment.py
  pax/runners/runner_eval.py
  pax/runners/runner_eval_multishaper.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
  pax/runners/runner_weight_sharing.py
  pax/utils.py
  pax/version.py
  pax/watchers/__init__.py
  pax/watchers/c_rice.py
  pax/watchers/cournot.py
  pax/watchers/fishery.py
  pax/watchers/rice.py
  test/envs/test_cournot.py
  test/envs/test_fishery.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/envs/test_rice.py
  test/test_strategies.py
  test/test_tensor_strategies.py
Labels: envs, agent, test, core

reformat version file
  pax/version.py
Labels: core

exclude version file
  .pre-commit-config.yaml
Labels: none

fix exclude statement
  .pre-commit-config.yaml
Labels: none

exclude version file in github action
  .github/workflows/test.yaml
Labels: none

fix
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  requirements.txt
Labels: none

fix
  .github/workflows/test.yaml
Labels: none

another attempt
  .github/workflows/test.yaml
  pax/version.py
Labels: core

final commit
  pax/agents/shaper_att/networks.py
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipd/mfos_att_v_ppo.yaml
  pax/conf/experiment/ipd/mfos_att_v_tabular.yaml
  pax/conf/experiment/ipd/shaper_att_v_ppo_mem.yaml
  pax/experiment.py
  pax/runners/runner_evo_mixed_payoffs_only_opp.py
Labels: core

Fix strict flag
  .pre-commit-config.yaml
  pax/agents/ppo/batched_envs.py
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/runners/runner_eval.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_weight_sharing.py
  pax/watchers/__init__.py
  pax/watchers/fishery.py
Labels: none

Python3.9 does not have the zip strict keyword yet (#168)
  .pre-commit-config.yaml
  pax/agents/ppo/batched_envs.py
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/runners/runner_eval.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_weight_sharing.py
  pax/watchers/__init__.py
  pax/watchers/fishery.py
Labels: none

Allow for annealed self-play in the shaper runner
  pax/conf/config.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/runners/runner_evo.py
Labels: conf

Add some runner tests
  pax/agents/ppo/ppo.py
  pax/conf/experiment/c_rice/eval_mediator_gs_ppo.yaml
  pax/conf/experiment/cournot/shaper_v_ppo.yaml
  pax/conf/experiment/imp/ppo_v_all_heads.yaml
  pax/conf/experiment/rice/eval_shaper_v_ppo.yaml
  pax/conf/experiment/sarl/cartpole.yaml
  pax/envs/iterated_matrix_game.py
  pax/runners/runner_evo.py
  pax/watchers/c_rice.py
  test/runners/__init__.py
  test/runners/files/eval_mediator/generation_1499
  test/runners/test_runners.py
Labels: envs
