Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

gs_v_tabular
  experiment.log
  pax/conf/experiment/cg/gs_v_tabular.yaml
  pax/conf/experiment/ipd/gs_v_tabular.yaml
Labels: none

before moving stuff around for debugging
  experiment.log
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/envs/iterated_tensor_game.py
  pax/experiment.py
  pax/runners/runner_eval_3player.py
Labels: envs, core

changed from ortho init to constant
  pax/agents/ppo/networks.py
Labels: none

added mean reduce
  pax/conf/experiment/imp/earl_v_ppo.yaml
  pax/conf/experiment/imp/earl_v_ppo_mem.yaml
  pax/conf/experiment/imp/earl_v_tabular.yaml
  pax/conf/experiment/imp/gs_v_ppo_mem.yaml
  pax/conf/experiment/imp/mfos_v_ppo.yaml
  pax/conf/experiment/imp/mfos_v_ppo_mem.yaml
  pax/conf/experiment/imp/mfos_v_tabular.yaml
  pax/conf/experiment/impitm/train_gs.yaml
  pax/conf/experiment/impitm/train_mfos_es.yaml
  pax/conf/experiment/impitm/train_shaper.yaml
  pax/conf/experiment/ipd/gs_v_ppo.yaml
  pax/conf/experiment/ipd/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipd/mfos_v_ppo.yaml
  pax/conf/experiment/ipd/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipd/mfos_v_tabular.yaml
  pax/conf/experiment/ipd/shaper_fixed.yaml
  pax/conf/experiment/ipd/shaper_infinite.yaml
  pax/conf/experiment/ipd/shaper_v_ppo.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
  pax/conf/experiment/ipditm/train_gs.yaml
  pax/conf/experiment/ipditm/train_mfos_es.yaml
  pax/conf/experiment/ipditm/train_shaper.yaml
  pax/runners/runner_evo.py
Labels: none

first push
  pax/agents/shaper/__init__.py
  pax/agents/shaper/networks.py
  pax/agents/shaper/ppo_gru.py
  pax/experiment.py
  pax/runners/runner_evo.py
Labels: core

changed num heads and added mlp at the end with second layer norm
  pax/agents/shaper/networks.py
Labels: none

rng bug fixed
  experiment.log
  pax/conf/config.yaml
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/runners/runner_eval_3player.py
  pax/runners/runner_evo_3player.py
Labels: conf

fixed coin == false
  pax/conf/experiment/ipditm/train_shaper.yaml
Labels: none

rng bug fixed, ppo_mem runnable
  experiment.log
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/runners/runner_eval_3player.py
  pax/runners/runner_evo_3player.py
Labels: none

make opponents consistent across elites
  pax/runners/runner_evo.py
  pax/runners/runner_marl.py
Labels: none

fixed coplayer rng in init
  pax/runners/runner_evo.py
Labels: none

run eval_x_play
  pax/agents/mfos_ppo/ppo_gru.py
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
  pax/conf/experiment/ipditm/eval_gs_gs.yaml
  pax/conf/experiment/ipditm/eval_gs_mfos.yaml
  pax/conf/experiment/ipditm/eval_gs_shaper.yaml
  pax/conf/experiment/ipditm/eval_mfos_gs.yaml
  pax/conf/experiment/ipditm/eval_mfos_mfos.yaml
  pax/conf/experiment/ipditm/eval_mfos_shaper.yaml
  pax/conf/experiment/ipditm/eval_shaper_gs.yaml
  pax/conf/experiment/ipditm/eval_shaper_mfos.yaml
  pax/conf/experiment/ipditm/eval_shaper_shaper.yaml
  pax/experiment.py
  pax/runners/runner_ipditm_eval.py
Labels: core

make opponents consistent across elites (#156)
  pax/runners/runner_evo.py
  pax/runners/runner_marl.py
Labels: none

changed marl runner to update shaping agent every meta-step
  pax/runners/runner_marl.py
Labels: none

changed marl runner to update shaping agent every meta-step
  pax/runners/runner_marl.py
Labels: none

updated config
  pax/conf/experiment/ipd/marl2_v_nl.yaml
Labels: none

started n player
  experiment.log
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/envs/iterated_tensor_game_n_player.py
  test/envs/test_iterated_tensor_game_n_player.py
Labels: envs

testing shaping on cluster
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/version.py
Labels: core

fixed rngs in runners based on main
  pax/runners/runner_evo_3player.py
  pax/runners/runner_marl_3player.py
Labels: none

evo new params and more opps
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/conf/experiment/tensor/ppo_shaping.yaml
Labels: none

added 3player_ipd experiments
  pax/conf/experiment/3pl_ipd/shaper_vs_altruist.yaml
  pax/conf/experiment/3pl_ipd/shaper_vs_ppo.yaml
  pax/conf/experiment/3pl_ipd/shaper_vs_ppo_mem.yaml
  pax/conf/experiment/3pl_ipd/shaper_vs_tabular.yaml
Labels: none

tabular fixed
  pax/conf/experiment/3pl_ipd/shaper_vs_tabular.yaml
Labels: none

eval works
  pax/conf/experiment/3pl_ipd/eval_shaper_vs_ppo_mem.yaml
  pax/experiment.py
  pax/runners/runner_eval_3player.py
  pax/watchers.py
Labels: core

n player tests pass
  pax/envs/iterated_tensor_game.py
  pax/envs/iterated_tensor_game_n_player.py
  test/envs/test_iterated_tensor_game_n_player.py
Labels: envs

started adding n player evo
  pax/experiment.py
  pax/runners/runner_evo_nplayer.py
  pax/watchers.py
Labels: core

just a small fix for iterated matrix games
  pax/agents/mfos_ppo/ppo_gru.py
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
Labels: none

n player evo runner works
  pax/conf/experiment/n_player/test.yaml
  pax/envs/iterated_tensor_game_n_player.py
  pax/runners/runner_evo_nplayer.py
Labels: envs

3pl runs again
  pax/runners/runner_evo_3player.py
  pax/watchers.py
Labels: core

fixed 2player agent setup
  pax/experiment.py
Labels: core

wandb runs for n_evo but state vis is not working
  pax/conf/experiment/n_player_test/test.yaml
  pax/runners/runner_evo_nplayer.py
Labels: none

wandb logging fixed
  pax/conf/experiment/n_player_test/test_tft_coop.yaml
  pax/conf/experiment/n_player_test/test_tft_mixed.yaml
  pax/conf/experiment/n_player_test/test_tft_switch.yaml
  pax/runners/runner_evo_nplayer.py
  pax/watchers.py
Labels: core

cant believe 8player game actually ran"
  pax/conf/experiment/n_player_test/test_8_pl_defect.yaml
Labels: none

n player eval works
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/n_player_test/test_nplayer_eval_shaper_vs_ppo_mem.yaml
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_eval_nplayer.py
Labels: envs, core

format
  pax/runners/runner_eval_nplayer.py
Labels: none

nplayer ppo config files
  pax/conf/experiment/n_player/3pl.yaml
  pax/conf/experiment/n_player/3pl_old_payoff.yaml
  pax/conf/experiment/n_player/4pl.yaml
  pax/conf/experiment/n_player/5pl.yaml
Labels: none

fix up config
  pax/conf/experiment/n_player/4pl.yaml
  pax/conf/experiment/n_player/5pl.yaml
Labels: none

nplayer rl runner works
  pax/conf/experiment/n_player_test/npl_rl_3pl_tft_coop.yaml
  pax/conf/experiment/n_player_test/npl_rl_ppo_mem_v_tft.yaml
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_evo_nplayer.py
  pax/runners/runner_marl_nplayer.py
Labels: envs, core

nplayer
  .vscode/settings.json
  pax/agents/ppo/ppo_gru.py
  pax/agents/tensor_strategies.py
  pax/conf/config.yaml
  pax/conf/experiment/n_player/3pl.yaml
  pax/conf/experiment/n_player/3pl_old_payoff.yaml
  pax/conf/experiment/n_player/4pl.yaml
  pax/conf/experiment/n_player/5pl.yaml
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_eval_nplayer.py
  pax/runners/runner_evo_nplayer.py
  pax/runners/runner_marl_nplayer.py
  pax/watchers.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/test_tensor_strategies.py
Labels: envs, agent, conf, test, core

intermediate commit
  nplayeripditm.ipynb
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/n_player_test/gs_v_tabular_2pl.yaml
  pax/conf/experiment/n_player_test/gs_v_tabular_3pl.yaml
  pax/conf/experiment/n_player_test/shaper_v_tabular_2pl.yaml
  pax/envs/in_the_matrix_nplayer.py
  pax/envs/in_the_matrix_nplayer2.py
Labels: envs

payoff from paper
  pax/conf/experiment/n_player/3pl.yaml
  pax/conf/experiment/n_player/4pl.yaml
  pax/conf/experiment/n_player/5pl.yaml
Labels: none

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"
