Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

stag hunt and snowdrift payoffs
  pax/conf/experiment/n_player/2pl_sd.yaml
  pax/conf/experiment/n_player/2pl_sh.yaml
  pax/conf/experiment/n_player/3pl_sd.yaml
  pax/conf/experiment/n_player/3pl_sh.yaml
  payoff.ipynb
Labels: none

added tc
  pax/conf/experiment/n_player/2pl_sd.yaml
  pax/conf/experiment/n_player/3pl_tc.yaml
  payoff.ipynb
Labels: none

still buggy
  nplayeripditm.ipynb
  pax/envs/in_the_matrix.py
  pax/envs/in_the_matrix_nplayer2.py
Labels: envs

attention branch
  pax/agents/shaper_att/networks.py
  pax/agents/shaper_att/ppo_gru.py
  pax/conf/experiment/ipd/shaper_att_v_tabular.yaml
  pax/experiment.py
Labels: core

added runtime debug scripts
  pax/conf/experiment/runtime_debug/2pl_new.yaml
  pax/conf/experiment/runtime_debug/2pl_orig.yaml
  pax/conf/experiment/runtime_debug/3pl_3pl.yaml
  pax/conf/experiment/runtime_debug/3pl_new.yaml
Labels: none

fix scripts and add runner log
  pax/conf/experiment/runtime_debug/3pl_3pl.yaml
  pax/conf/experiment/runtime_debug/3pl_new.yaml
  pax/experiment.py
Labels: core

n player scripts and baseline strategies
  pax/agents/tensor_strategies.py
  pax/conf/experiment/n_player/3pl_ipd_eval.yaml
  pax/conf/experiment/n_player/4pl_ipd.yaml
  pax/conf/experiment/n_player/4pl_ipd_eval.yaml
  pax/conf/experiment/n_player/4pl_sd.yaml
  pax/conf/experiment/n_player/4pl_sh.yaml
  pax/conf/experiment/n_player/4pl_tc.yaml
  pax/conf/experiment/n_player/5pl_ipd.yaml
  pax/conf/experiment/n_player/5pl_ipd_eval.yaml
  pax/conf/experiment/n_player/tft_harsh_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft_harsh_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft_harsh_5pl_ipd.yaml
  pax/conf/experiment/n_player/tft_soft_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft_soft_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft_soft_5pl_ipd.yaml
  pax/experiment.py
  pax/runners/runner_eval_nplayer.py
  payoff.ipynb
  test/test_tensor_strategies.py
Labels: agent, test, core

typo
  pax/conf/experiment/n_player/4pl_tc.yaml
Labels: none

MFOS averaging
  pax/agents/mfos_ppo/networks.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/shaper_att/networks.py
  pax/agents/shaper_att/ppo_gru.py
  pax/conf/experiment/imp/mfos_att_v_tabular.yaml
  pax/conf/experiment/imp/shaper_att_v_tabular.yaml
  pax/conf/experiment/impitm/train_shaper_att.yaml
  pax/conf/experiment/ipd/mfos_att_v_tabular.yaml
  pax/conf/experiment/ipditm/train_shaper_att.yaml
Labels: none

added more shaper 5pl configs
  pax/conf/experiment/n_player/indep/run_naive.sh
  pax/conf/experiment/n_player/shaper/5pl_sd.yaml
  pax/conf/experiment/n_player/shaper/5pl_sh.yaml
  pax/conf/experiment/n_player/shaper/5pl_tc.yaml
Labels: none

fix global welfare
  experiment.log
  mess.ipynb
  pax/runners/runner_evo_nplayer.py
  payoff.ipynb
Labels: none

fix global welfare2
  pax/runners/runner_evo_nplayer.py
Labels: none

naive scripts
  pax/conf/experiment/n_player/indep/naive_2pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_2pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_ipd.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_tc.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_ipd.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_tc.yaml
  pax/conf/experiment/n_player/indep/naive_5pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_5pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_5pl_tc.yaml
  pax/conf/experiment/n_player/indep/run_naive.sh
  pax/conf/experiment/n_player/shaper/evals/3pl_ipd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_sh_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/3pl_tc_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_ipd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_sh_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/4pl_tc_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_ipd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sd_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_sh_eval.yaml
  pax/conf/experiment/n_player/shaper/evals/5pl_tc_eval.yaml
  pax/runners/runner_marl_nplayer.py
Labels: none

tft scripts
  pax/conf/experiment/n_player/indep/naive_2pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_2pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_ipd.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_3pl_tc.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_ipd.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_4pl_tc.yaml
  pax/conf/experiment/n_player/indep/naive_5pl_ipd.yaml
  pax/conf/experiment/n_player/indep/naive_5pl_sd.yaml
  pax/conf/experiment/n_player/indep/naive_5pl_sh.yaml
  pax/conf/experiment/n_player/indep/naive_5pl_tc.yaml
  pax/conf/experiment/n_player/tft/run_tft.sh
  pax/conf/experiment/n_player/tft/tft_harsh_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_harsh_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_harsh_5pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_5pl_ipd.yaml
  pax/runners/runner_marl_nplayer.py
Labels: none

training indep shaper
  experiment.log
Labels: none

training indep shaper
  pax/conf/experiment/multi-shapers/indep_shapers_2pl_ipd_eval.yaml
  pax/conf/experiment/multi-shapers/shaper_vs_ppo_mem_2pl_ipd.yaml
Labels: none

tft config fixed
  pax/conf/experiment/n_player/tft/tft_harsh_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_harsh_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_harsh_5pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_5pl_ipd.yaml
Labels: none

tft back to 5000
  pax/conf/experiment/multi-shapers/2pl_2sh_ipd.yaml
  pax/conf/experiment/multi-shapers/indep_shapers_2pl_ipd_eval.yaml
  pax/conf/experiment/n_player/tft/tft_harsh_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_harsh_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_harsh_5pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_3pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_4pl_ipd.yaml
  pax/conf/experiment/n_player/tft/tft_soft_5pl_ipd.yaml
Labels: none

adding hardstop yamls
  hardstop_eval_bash.sh
  pax/conf/experiment/ipd/mfos_att_v_tabular_hardstop_eval.yaml
  pax/conf/experiment/ipd/shaper_att_v_tabular_hardstop_eval.yaml
Labels: none

adding test
  test/envs/test_ipditm_nplayer.py
Labels: none

multishaper evo
  pax/agents/ppo/ppo_gru.py
  pax/conf/config.yaml
  pax/conf/experiment/multi-shapers/two_shap_ipd.yaml
  pax/experiment.py
  pax/runners/runner_eval_multipshaper.py
  pax/runners/runner_evo_multishaper.py
Labels: conf, core

almost not buggy
  pax/envs/in_the_matrix_nplayer2.py
  test/envs/test_ipditm_nplayer.py
Labels: envs

two shape experiment
  pax/conf/experiment/multi-shapers/two_shap_ipd.yaml
  pax/runners/runner_evo_multishaper.py
Labels: none

3pl ipd
  pax/conf/experiment/multi-shapers/n3pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_ipd.yaml
  pax/runners/runner_evo_multishaper.py
Labels: none

more iters
  pax/conf/experiment/multi-shapers/n3pl_2shap_ipd.yaml
Labels: none

fixed grid update bug.
  pax/envs/in_the_matrix_nplayer2.py
Labels: envs

fixed collision logic
  pax/envs/in_the_matrix_nplayer2.py
Labels: envs

fixed interacting bug
  pax/envs/in_the_matrix_nplayer2.py
Labels: envs

4pl ipd
  pax/conf/experiment/multi-shapers/n4pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_ipd.yaml
Labels: none

1shap_ipd
  pax/conf/experiment/multi-shapers/n4pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_ipd.yaml
  pax/conf/experiment/n_player/shaper/3pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/4pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/5pl_ipd.yaml
  pax/conf/experiment/n_player/shaper/run_ipd.sh
Labels: none

1shap_ipd
  pax/conf/experiment/multi-shapers/n4pl_2shap_ipd.yaml
Labels: none

5pl ipd
  pax/conf/experiment/multi-shapers/n5pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_ipd.yaml
Labels: none

5pl and sh
  pax/conf/experiment/multi-shapers/n2pl_2shap_ipd.yaml
  pax/conf/experiment/multi-shapers/n2pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_ipd.yaml
Labels: none

tc and sh exp
  pax/conf/experiment/multi-shapers/n2pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_tc.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_tc.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_tc.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_tc.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_tc.yaml
  pax/conf/experiment/multi-shapers/run_sh.sh
Labels: none

messed up sh
  pax/conf/experiment/multi-shapers/n5pl_2shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_sh.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_sh.yaml
  pax/conf/experiment/multi-shapers/run_sh.sh
Labels: none

sd experiments
  pax/conf/experiment/multi-shapers/n2pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_sd.yaml
Labels: none

run sd
  pax/conf/experiment/multi-shapers/run_sd.sh
Labels: none

right groups
  pax/conf/experiment/multi-shapers/n2pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n3pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n3pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n4pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_2shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_3shap_sd.yaml
  pax/conf/experiment/multi-shapers/n5pl_4shap_sd.yaml
  pax/conf/experiment/multi-shapers/run_sd_5pl.sh
  pax/conf/experiment/multi-shapers/run_sd_5pl_seed1.sh
  pax/conf/experiment/multi-shapers/run_sd_small.sh
  pax/conf/experiment/multi-shapers/run_sd_small_seed1.sh
Labels: none

newest version with coin timer
  pax/envs/in_the_matrix_nplayer2.py
  pax/runners/runner_evo.py
Labels: envs

eval changes
  pax/runners/runner_eval.py
  pax/runners/runner_eval_hardstop.py
Labels: none

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"
