Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"

update README
  README.md
Labels: none

update README
  README.md
Labels: none

removed evals
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/cg/sanity.yaml
  pax/conf/experiment/ipditm/sanity.yaml
Labels: none

removed setup.py
  setup.py
Labels: none

made devices=1
  pax/conf/experiment/cg/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_es_v_ppo_mem.yaml
Labels: none

works, before fixing wandb
  .pre-commit-config.yaml
  pax/runner_marl_3ppl.py
Labels: core

why this not work i do not know
  experiment.log
  pax/runner_marl_3ppl.py
Labels: core

fixed wandb
  experiment.log
  pax/conf/config.yaml
  pax/conf/experiment/tensor/ppo_v_ppo_v_ppo.yaml
  pax/experiment.py
  pax/runner_marl_3ppl.py
  pax/watchers.py
Labels: conf, core

tried using strategies
  experiment.log
  pax/agents/strategies.py
  pax/conf/config.yaml
  pax/conf/experiment/tensor/ppo_v_ppo_v_ppo.yaml
  pax/experiment.py
  pax/runner_marl_3ppl.py
Labels: agent, conf, core

added tft variant and tests
  experiment.log
  pax/agents/hyper/ppo.py
  pax/agents/ppo/ppo.py
  pax/agents/strategies.py
  pax/experiment.py
  pax/runner_marl_3ppl.py
  test/envs/test_iterated_tensor_game.py
  test/test_strategies.py
Labels: agent, test, core

new strategies
  experiment.log
  pax/agents/tensor_strategies.py
  pax/conf/experiment/tensor/ppo_vs_altruists.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_tft_switch_stay.yaml
  pax/experiment.py
  pax/runner_selfplay_3ppl.py
  test/envs/test_iterated_tensor_game.py
  test/test_tensor_strategies.py
Labels: agent, test, core

WIP: act_evo and act_rl bug fixing
  pax/agents/act/act_agent.py
  pax/agents/strategies.py
  pax/conf/experiment/act/random.yaml
  pax/conf/experiment/sarl/cartpole.yaml
  pax/experiment.py
  pax/runner_act_evo.py
  pax/runner_act_rl.py
  pax/runner_sarl.py
Labels: agent, core

WIP: trying to train agent1, removing num_opps
  pax/conf/experiment/act/random.yaml
  pax/runner_act_rl.py
  pax/runner_sarl.py
Labels: core

added new description
  pax/envs/ipd_in_the_matrix.py
Labels: envs

added new description
  pax/envs/ipd_in_the_matrix.py
Labels: envs

removed num_opps dim
  pax/runner_act_rl.py
Labels: core

fixed tests
  test/envs/test_ipd_in_the_matrix.py
Labels: none

change behaviour in the ipd games to fit over envs
  test/envs/test_iterated_matrix_game.py
Labels: none

change behaviour in the ipd games to fit over envs
  pax/envs/iterated_matrix_game.py
Labels: envs

experiments
  experiment.log
  pax/agents/tensor_strategies.py
  pax/conf/config.yaml
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/conf/experiment/tensor/ppo_v_ppo_v_ppo.yaml
  pax/conf/experiment/tensor/ppo_vs_altruists.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_defect.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_defect.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_tft_defect_coop.yaml
  pax/experiment.py
  pax/runner_evo_3ppl.py
  pax/runner_marl_3ppl.py
  pax/runner_selfplay_3ppl.py
  test/test_tensor_strategies.py
Labels: agent, conf, test, core

still buggy
  pax/runner_act_rl.py
Labels: core

adding 3ppl eval
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/experiment.py
  pax/runner_eval_3ppl.py
Labels: core

fixed bug
  pax/runner_eval_3ppl.py
Labels: core

changing wandb group
  pax/conf/experiment/tensor/ppo_eval.yaml
Labels: none

fixing small bug
  pax/runner_eval_3ppl.py
Labels: core

change all configs to include num_inner_steps
  pax/conf/experiment/tensor/ppo_eval.yaml
  pax/conf/experiment/tensor/ppo_shaping.yaml
  pax/conf/experiment/tensor/ppo_v_ppo_v_ppo.yaml
  pax/conf/experiment/tensor/ppo_vs_altruists.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_defect.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_both_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_defect.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_stay.yaml
  pax/conf/experiment/tensor/ppo_vs_ppo_vs_tft_switch.yaml
  pax/conf/experiment/tensor/ppo_vs_tft_defect_coop.yaml
  pax/conf/experiment/tensor/ppo_vs_tft_switch_stay.yaml
  pax/runner_marl_3ppl.py
Labels: core

no annealing
  pax/conf/experiment/tensor/ppo_shaping.yaml
Labels: none

correct payoff
  experiment.log
  pax/agents/tensor_strategies.py
  pax/conf/experiment/tensor/ppo_shaping.yaml
  test/test_tensor_strategies.py
Labels: agent, test

agents now can accept dictionaries for observations
  pax/agents/ppo/networks.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
Labels: none

cleaned up runner sarl
  pax/runner_sarl.py
Labels: core

moved runners into their own folder
  pax/conf/experiment/ipditm/shaper_eval_shaper.yaml
  pax/experiment.py
  pax/runners/__init__.py
  pax/runners/runner_eval.py
  pax/runners/runner_evo.py
  pax/runners/runner_ipditm_eval.py
  pax/runners/runner_marl.py
  pax/runners/runner_sarl.py
Labels: core

random agent now supports dicts too
  pax/agents/strategies.py
  pax/experiment.py
Labels: agent, core

config clean up sarl
  pax/conf/experiment/sarl/acrobot.yaml
Labels: none

removed benchmark code
  pax/runners/runner_evo.py
Labels: none

removed benchmark code
  pax/experiment.py
Labels: core

removed benchmark code
  pax/experiment.py
Labels: core

sp runner
  pax/conf/experiment/ipditm/chaos_v_chaos.yaml
  pax/experiment.py
  pax/runner_evo_self.py
Labels: core

now plays against mean
  pax/runner_evo_self.py
Labels: core

updated for newton comments
  pax/envs/ipd_in_the_matrix.py
Labels: envs

self play with lambda
  pax/conf/experiment/ipditm/chaos_v_chaos.yaml
  pax/runner_evo_self.py
Labels: core
