Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

fix rotations
  pax/envs/ipd_in_the_matrix.py
Labels: envs

fix rotations bug no more -1s
  pax/envs/ipd_in_the_matrix.py
Labels: envs

updated configs for hiddensize=8
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/envs/ipd_in_the_matrix.py
Labels: envs

fixed coin location
  pax/envs/ipd_in_the_matrix.py
Labels: envs

change weight init
  pax/agents/ppo/networks.py
  pax/conf/experiment/ipditm/sanity.yaml
Labels: none

removed fitness normalisation
  pax/runner_evo.py
Labels: core

changed CMA-ES to work with num_devices
  pax/experiment.py
  pax/runner_marl.py
Labels: core

made gru init orthogonal and changed tanh to relu
  pax/agents/ppo/networks.py
Labels: none

add back tanh
  pax/agents/ppo/networks.py
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
Labels: none

fixed render bug for when agents recieve 0
  pax/conf/experiment/ipditm/shaper_eval.yaml
  pax/envs/ipd_in_the_matrix.py
Labels: envs

change devices to 4
  pax/conf/experiment/ipd/gs_v_tabular.yaml
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
Labels: none

start next big run
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
Labels: none

update configs to run fixed-coin location + new num inner steps
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
  pax/envs/ipd_in_the_matrix.py
  pax/experiment.py
Labels: envs, core

better reward naming
  pax/runner_evo.py
  pax/runner_marl.py
Labels: core

better reward naming
  pax/watchers.py
Labels: core

added num_steps to be correct for wandb
  pax/conf/experiment/ipditm/sanity.yaml
Labels: none

changed logging
  pax/runner_evo.py
Labels: core

changed runner
  pax/conf/experiment/ipditm/sanity.yaml
  pax/runner_marl.py
Labels: core

changed eval runner to plot agent2 learning stats
  pax/runner_ipditm_eval.py
Labels: core

now report stats per inner episode
  pax/runner_ipditm_eval.py
Labels: core

now report stats per inner episode
  pax/conf/experiment/ipditm/shaper_eval.yaml
  pax/runner_ipditm_eval.py
Labels: core

updated MFOS config
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
Labels: none

updated MFOS network to be smaller
  pax/agents/mfos_ppo/networks.py
Labels: none

updated MFOS network to be smaller
  pax/agents/mfos_ppo/networks.py
  pax/agents/ppo/networks.py
  pax/conf/experiment/ipditm/mfos_v_ppo_mem.yaml
Labels: none

updated MFOS network back to run
  pax/agents/mfos_ppo/networks.py
Labels: none

updated MFOS RL agent
  pax/conf/experiment/ipditm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
  pax/runner_marl.py
Labels: core

updated lrate back
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
Labels: none

mfos moved back to old jit method
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/ipditm/mfos_rl_v_ppo_mem.yaml
Labels: none

fixed GS config
  pax/agents/ppo/networks.py
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
Labels: none

ready for CG chaos
  pax/agents/ppo/networks.py
  pax/conf/experiment/cg/chaos_v_ppo_memory.yaml
  pax/conf/experiment/cg/sanity.yaml
  pax/experiment.py
Labels: core

changing payoff logic
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_rl_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/sanity.yaml
  pax/conf/experiment/ipditm/sanity_eval.yaml
  pax/conf/experiment/ipditm/sanity_evo.yaml
  pax/conf/experiment/ipditm/shaper_eval.yaml
  pax/envs/ipd_in_the_matrix.py
Labels: envs

ready for CG
  pax/agents/ppo/ppo.py
  pax/conf/experiment/cg/chaos_v_ppo_mem.yaml
  pax/conf/experiment/cg/gs_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_es_v_ppo_mem copy.yaml
  pax/conf/experiment/cg/mfos_rl_v_ppo_mem.yaml
Labels: none

ready for CG
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
Labels: none

added better group names
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_rl_v_ppo_mem.yaml
Labels: none

changed es algorithm back
  pax/conf/experiment/cg/chaos_v_ppo_mem.yaml
  pax/conf/experiment/cg/gs_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
Labels: none

changed popsize back
  pax/conf/experiment/cg/chaos_v_ppo_mem.yaml
  pax/conf/experiment/cg/gs_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
Labels: none

doubled the popsize for shaping in ipditm
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_es_v_ppo_mem.yaml
Labels: none

shaper runs auto log=True
  pax/conf/experiment/cg/gs_v_ppo_mem.yaml
  pax/conf/experiment/cg/mfos_es_v_ppo_mem.yaml
Labels: none

turn back env size
  pax/conf/experiment/ipditm/chaos_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/gs_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_es_v_ppo_mem.yaml
  pax/conf/experiment/ipditm/mfos_rl_v_ppo_mem.yaml
Labels: none

turn back env size
  pax/conf/experiment/ipditm/mfos_rl_v_ppo_mem.yaml
Labels: none

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"
