Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

Fix a2 metrics bug
  pax/conf/experiment/c_rice/eval_mediator_gs_ppo.yaml
  pax/conf/experiment/cournot/eval_shaper_v_ppo.yaml
  pax/conf/experiment/fishery/shaper_v_ppo.yaml
  pax/conf/experiment/rice/eval_weight_sharing.yaml
  pax/envs/fishery.py
  pax/experiment.py
  pax/runners/runner_evo.py
  pax/watchers/cournot.py
  pax/watchers/fishery.py
  test/envs/test_fishery.py
Labels: envs, core

restructuring and deleting some runners
  .gitignore
  pax/experiment.py
  pax/runners/experimental/runner_evo_mixed_IPD_payoffs.py
  pax/runners/experimental/runner_evo_mixed_lr.py
  pax/runners/experimental/runner_evo_mixed_payoffs.py
  pax/runners/experimental/runner_evo_mixed_payoffs_gen.py
  pax/runners/experimental/runner_evo_mixed_payoffs_input.py
  pax/runners/experimental/runner_evo_mixed_payoffs_only_opp.py
  pax/runners/runner_evo_mixed_IPD_payoffs.py
  pax/runners/runner_evo_mixed_payoffs_input.py
Labels: core

adding make_ipd_network and iterated matrix games
  pax/agents/ppo/ppo.py
  pax/experiment.py
Labels: core

checking if runners work
  pax/experiment.py
  pax/runners/runner_evo_scanned.py
Labels: core

Bring back old runner_evo, udpates to runner docs, finish runner smoke tests
  docs/getting-started/runners.md
  pax/agents/ppo/ppo.py
  pax/conf/experiment/c_rice/debug.yaml
  pax/conf/experiment/c_rice/marl_baseline.yaml
  pax/conf/experiment/c_rice/mediator_gs_ppo.yaml
  pax/conf/experiment/c_rice/shaper_v_ppo.yaml
  pax/conf/experiment/cg/mfos.yaml
  pax/conf/experiment/cg/tabular.yaml
  pax/conf/experiment/cournot/eval_shaper_v_ppo.yaml
  pax/conf/experiment/cournot/shaper_v_ppo.yaml
  pax/conf/experiment/fishery/marl_baseline.yaml
  pax/conf/experiment/fishery/mfos_v_ppo.yaml
  pax/conf/experiment/fishery/shaper_v_ppo.yaml
  pax/conf/experiment/rice/gs_v_ppo.yaml
  pax/conf/experiment/rice/mfos_v_ppo.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_evo_nroles.py
  pax/runners/runner_marl.py
  test/runners/test_runners.py
Labels: envs, core

Runner evo self play annealing, runner smoke tests (#169)
  docs/getting-started/runners.md
  pax/agents/ppo/ppo.py
  pax/conf/config.yaml
  pax/conf/experiment/c_rice/debug.yaml
  pax/conf/experiment/c_rice/eval_mediator_gs_ppo.yaml
  pax/conf/experiment/c_rice/marl_baseline.yaml
  pax/conf/experiment/c_rice/mediator_gs_ppo.yaml
  pax/conf/experiment/c_rice/shaper_v_ppo.yaml
  pax/conf/experiment/cg/tabular.yaml
  pax/conf/experiment/cournot/eval_shaper_v_ppo.yaml
  pax/conf/experiment/cournot/shaper_v_ppo.yaml
  pax/conf/experiment/fishery/marl_baseline.yaml
  pax/conf/experiment/fishery/mfos_v_ppo.yaml
  pax/conf/experiment/fishery/shaper_v_ppo.yaml
  pax/conf/experiment/imp/ppo_v_all_heads.yaml
  pax/conf/experiment/rice/eval_shaper_v_ppo.yaml
  pax/conf/experiment/rice/eval_weight_sharing.yaml
  pax/conf/experiment/rice/gs_v_ppo.yaml
  pax/conf/experiment/rice/mfos_v_ppo.yaml
  pax/conf/experiment/rice/shaper_v_ppo.yaml
  pax/conf/experiment/sarl/cartpole.yaml
  pax/envs/fishery.py
  pax/envs/iterated_matrix_game.py
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_evo_nroles.py
  pax/runners/runner_marl.py
  pax/watchers/c_rice.py
  pax/watchers/cournot.py
  pax/watchers/fishery.py
  test/envs/test_fishery.py
  test/runners/__init__.py
  test/runners/files/eval_mediator/generation_1499
  test/runners/test_runners.py
Labels: envs, conf, core

adding runner tests
  pax/experiment.py
  test/runners/test_runners.py
Labels: core

adding runner descriptions
  docs/getting-started/runners.md
Labels: none

Fix runner eval test
  pax/runners/runner_eval.py
Labels: none

double negative
  pax/runners/runner_eval.py
Labels: none

Fix runner eval test (#170)
  pax/runners/runner_eval.py
Labels: none

Fix formatting problem in README.md
  README.md
Labels: none

Fix formatting problem in README.md
  README.md
Labels: none

Update README.md (#163)
  README.md
Labels: none

Update installation.md
  docs/getting-started/installation.md
Labels: none

Update requirements.txt
  docs/requirements.txt
Labels: docs

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update installation.md
  docs/getting-started/installation.md
Labels: none

Update envs.md
  docs/envs.md
Labels: docs

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

adding an introductory notebook
  proof_of_concept.ipynb
Labels: none

Update README.md
  README.md
Labels: none

removing gpu thingie
  proof_of_concept.ipynb
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update setup.py
  setup.py
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"
