Repository ucl-dark/pax, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, envs, agent, conf, test, core

.github/labeler.yml:

docs: "docs/*"
envs: "pax/envs/*"
agent: "pax/agents/*"
conf: "pax/conf/*"
test: "test/*"
core: "pax/*.py"

fix 3pl2shap_sd config
  pax/conf/experiment/multi-shapers/n3pl_2shap_sd.yaml
Labels: none

adding visualisation notebook
  wandb_to_matplotlib2.ipynb
Labels: none

testing out base games
  pax/conf/experiment/ipd/inf_mfos_v_nl.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/experiment.py
  pax/runners/runner_evodiff.py
Labels: core

minor fixes in readme and requirements
  README.md
  requirements.txt
Labels: none

plots2
  nshaper_figs.ipynb
  nshaper_figs/ipd/3_pl/eval/1_shap_rewards.png
  nshaper_figs/ipd/3_pl/eval/2_shap_rewards.png
  nshaper_figs/ipd/3_pl/eval/naive_rewards.png
  nshaper_figs/ipd/3_pl/training/1_shap_rewards_seed0_1_2_3_4.png
  nshaper_figs/ipd/3_pl/training/2_shap_rewards.png
  nshaper_figs/tc/4_pl/eval/1_shap_rewards_seed1_2_4_5.png
  nshaper_figs/tc/4_pl/eval/1_shap_rewards_seed3.png
  nshaper_figs/tc/4_pl/eval/2_shap_rewards.png
  nshaper_figs/tc/4_pl/eval/3_shap_rewards.png
  nshaper_figs/tc/4_pl/eval/naive_rewards.png
  nshaper_figs/tc/4_pl/training/1_shap_rewards.png
  nshaper_figs/tc/4_pl/training/1_shap_rewards_seed1_2_4_5.png
  nshaper_figs/tc/4_pl/training/1_shap_rewards_seed3.png
  nshaper_figs/tc/4_pl/training/2_shap_rewards.png
  nshaper_figs/tc/4_pl/training/3_shap_rewards.png
Labels: none

plots3
  nshaper_figs/ipd/4_pl/eval/1_shap_rewards.png
  nshaper_figs/ipd/4_pl/eval/1_shap_rewards_seed0.png
  nshaper_figs/ipd/4_pl/eval/1_shap_rewards_seed1.png
  nshaper_figs/ipd/4_pl/eval/1_shap_rewards_seed1_2_3_4_5.png
  nshaper_figs/ipd/4_pl/eval/2_shap_rewards.png
  nshaper_figs/ipd/4_pl/eval/3_shap_rewards.png
  nshaper_figs/ipd/4_pl/eval/naive_rewards.png
  nshaper_figs/ipd/4_pl/training/1_shap_rewards.png
  nshaper_figs/ipd/4_pl/training/1_shap_rewards_seed0.png
  nshaper_figs/ipd/4_pl/training/1_shap_rewards_seed1_2_3_4_5.png
  nshaper_figs/ipd/4_pl/training/2_shap_rewards.png
  nshaper_figs/ipd/4_pl/training/2_shap_rewards_seed1_5_3.png
  nshaper_figs/ipd/4_pl/training/3_shap_rewards.png
Labels: none

3pp config
  nshaper_figs/sd/3_pl/training/1_shap_states.png
  pax/conf/experiment/3pp_2round_matrix/test.yaml
  pax/runners/old_runner_marl_third_party.py
  pax/runners/runner_evo_third_party.py
Labels: none

more figs
  nshaper_figs/sd/3_pl/eval/1_shap_states.png
  nshaper_figs/sd/3_pl/eval/2_shap_states.png
  nshaper_figs/sd/3_pl/eval/naive_states_png.png
  nshaper_figs/sd/3_pl/training/1_shap_states.png
  nshaper_figs/sd/3_pl/training/2_shap_states.png
  nshaper_figs/sd/4_pl/eval/1_shap_states_seed1_5.png
  nshaper_figs/sd/4_pl/eval/1_shap_states_seed2_3_4.png
  nshaper_figs/sd/4_pl/eval/2_shap_states.png
  nshaper_figs/sd/4_pl/eval/3_shap_states.png
  nshaper_figs/sd/4_pl/eval/naive_states_png.png
  nshaper_figs/sd/4_pl/training/1_shap_states_seed1_5.png
  nshaper_figs/sd/4_pl/training/1_shap_states_seed2_3_4.png
  nshaper_figs/sd/4_pl/training/2_shap_states.png
  nshaper_figs/sd/4_pl/training/3_shap_states.png
  nshaper_figs/sh/3_pl/eval/naive_states_png.png
Labels: none

lola from newton
  pax/lola/__init__.py
  pax/lola/lola.py
  pax/lola/network.py
Labels: none

notebooks
  comp.ipynb
  payoff.ipynb
Labels: none

dimensions bug
  pax/agents/ppo/ppo_gru.py
  pax/centralized_learners.py
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/conf/experiment/lola/ppo_mem_baseline.yaml
  pax/experiment.py
  pax/lola/lola.py
  pax/runners/lola_runner.py
  pax/runners/runner_marl.py
  pax/utils.py
Labels: core

where we stopped w Timon
  pax/experiment.py
  pax/lola/lola.py
  pax/runners/runner_marl.py
  pax/utils.py
Labels: core

biggest ephipany
  experiment.log
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/lola/lola.py
  pax/runners/runner_marl.py
  pax/utils.py
Labels: core

some alterations to get mfos to work
  pax/conf/experiment/ipd/inf_mfos_v_nl.yaml
  pax/conf/experiment/ipd/inf_mfos_v_tft.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/conf/experiment/ipd/shaper_v_tabular.yaml
  pax/experiment.py
Labels: core

Revert "testing out base games"
  pax/conf/experiment/ipd/inf_mfos_v_nl.yaml
  pax/conf/experiment/ipd/shaper_v_ppo_mem.yaml
  pax/experiment.py
  pax/runners/runner_evodiff.py
Labels: core

LOLA unleashed to feast upon the world
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/conf/experiment/lola/ppo_mem_baseline.yaml
  pax/lola/lola.py
  pax/runners/runner_marl.py
Labels: none

LOLA actually does stuff
  pax/agents/ppo/ppo.py
  pax/centralized_learners.py
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/lola/lola.py
  pax/runners/lola_runner.py
  pax/runners/runner_marl.py
Labels: core

LOLA config
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
Labels: none

lola config fixed
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
Labels: none

diff games
  pax/agents/naive/naive.py
  pax/agents/naive_exact.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/ipd/inf_ppo_v_nl.yaml
  pax/conf/experiment/ipd/shaper_nl.yaml
  pax/conf/experiment/pd/shaper_nl.yaml
  pax/conf/experiment/pd/shaper_nl_diff.yaml
  pax/conf/experiment/pd/shaper_v_ppo.yaml
  pax/conf/experiment/pd/shaper_v_ppo_diff.yaml
  pax/conf/experiment/pd/shaper_v_ppo_mem.yaml
  pax/conf/experiment/pd/shaper_v_ppo_mem_diff.yaml
  pax/runners/runner_evo.py
  pax/runners/runner_evodiff.py
Labels: agent

nplayer has vmpa issues
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/lola/lola.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
Labels: none

nplayr lola doesnt learn
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/conf/experiment/lola/ppo_mem_baseline2.yaml
  pax/experiment.py
  pax/lola/lola.py
  pax/lola/output
  pax/runners/runner_marl_nplayer.py
Labels: core

2player lola works
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/experiment.py
  pax/lola/lola.py
Labels: core

still nope
  pax/lola/lola.py
Labels: none

new runner works
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/lola/lola.py
  pax/runners/runner_marl_nplayer.py
Labels: none

new outerloss
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/lola/lola.py
Labels: none

new innerloss
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/lola/lola.py
Labels: none

new innerlookahead_rollout
  pax/lola/lola.py
Labels: none

full inlookahead
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/conf/experiment/lola/ppo_mem_baseline.yaml
  pax/lola/lola.py
Labels: none

still works
  pax/lola/lola.py
Labels: none

lola 2pl works w npl runner
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/lola/lola.py
Labels: none

3pl lola config
  pax/conf/experiment/lola/lola_3pl.yaml
Labels: none

lola with value loss
  pax/conf/experiment/lola/lola_vs_ppo_mem.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_2shap_ipd_eval0.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_2shap_ipd_eval1.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_2shap_ipd_eval2.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_3shap_ipd_eval0.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_3shap_ipd_eval1.yaml
  pax/conf/experiment/multi-shapers/eval/n5pl_4shap_ipd_eval0.yaml
  pax/conf/experiment/multi-shapers/timon_5pl.sh
  pax/conf/experiment/n_player/lola/lola_3pl_ipd.yaml
  pax/conf/experiment/n_player/lola/lola_3pl_sd.yaml
  pax/conf/experiment/n_player/lola/lola_3pl_sh.yaml
  pax/conf/experiment/n_player/lola/lola_3pl_tc.yaml
  pax/conf/experiment/n_player/lola/lola_4pl_ipd.yaml
  pax/conf/experiment/n_player/lola/lola_4pl_sd.yaml
  pax/conf/experiment/n_player/lola/lola_4pl_sh.yaml
  pax/conf/experiment/n_player/lola/lola_4pl_tc.yaml
  pax/conf/experiment/n_player/lola/lola_5pl_ipd.yaml
  pax/conf/experiment/n_player/lola/lola_5pl_sd.yaml
  pax/conf/experiment/n_player/lola/lola_5pl_sh.yaml
  pax/conf/experiment/n_player/lola/lola_5pl_tc.yaml
  pax/conf/experiment/n_player/lola/run_lola.sh
  pax/lola/lola.py
Labels: none

5pl script
  pax/conf/experiment/multi-shapers/timon_5pl.sh
Labels: none

ppo gru back
  pax/agents/ppo/ppo_gru.py
Labels: none

most of the changes
  pax/agents/agent.py
  pax/agents/hyper/ppo.py
  pax/agents/lola/__init__.py
  pax/agents/lola/lola.py
  pax/agents/lola/network.py
  pax/agents/naive_exact.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/agents/strategies.py
  pax/agents/tensor_strategies.py
  pax/conf/config.yaml
  pax/envs/in_the_matrix.py
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_eval_multishaper.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_ipditm_eval.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
  pax/runners/runner_sarl.py
  pax/utils.py
  pax/watchers.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/test_tensor_strategies.py
Labels: envs, agent, conf, test, core

most of the changes
  pax/agents/lola/lola.py
  pax/agents/lola/network.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/envs/coin_game.py
  pax/envs/in_the_matrix.py
  pax/experiment.py
  pax/runners/runner_eval_multishaper.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_marl.py
  pax/utils.py
  pax/watchers.py
  test/envs/test_in_the_matrix.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/test_tensor_strategies.py
Labels: envs, test, core

more stuff
  pax/agents/lola/lola.py
  pax/agents/mfos_ppo/ppo_gru.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/conf/experiment/multiplayer_ipd/3pl_2shap_ipd.yaml
  pax/conf/experiment/multiplayer_ipd/3pl_2shap_ipd_eval.yaml
  pax/conf/experiment/multiplayer_ipd/lola_vs_ppo_ipd.yaml
  pax/envs/coin_game.py
  pax/envs/in_the_matrix.py
  pax/experiment.py
  pax/runners/runner_eval_multishaper.py
  pax/runners/runner_evo.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_marl.py
  pax/watchers.py
  setup.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/test_tensor_strategies.py
Labels: envs, test, core

LOLA n player (#165)
  pax/conf/experiment/lola/ppo_mem_baseline2.yaml
  pax/lola/lola.py
  pax/lola/output
  pax/runners/runner_marl.py
Labels: none

Multi-player multi-shaper runners and lola (#166)
  pax/agents/agent.py
  pax/agents/hyper/ppo.py
  pax/agents/lola/__init__.py
  pax/agents/lola/lola.py
  pax/agents/lola/network.py
  pax/agents/naive_exact.py
  pax/agents/ppo/ppo.py
  pax/agents/ppo/ppo_gru.py
  pax/agents/strategies.py
  pax/agents/tensor_strategies.py
  pax/conf/config.yaml
  pax/conf/experiment/multiplayer_ipd/3pl_2shap_ipd.yaml
  pax/conf/experiment/multiplayer_ipd/3pl_2shap_ipd_eval.yaml
  pax/conf/experiment/multiplayer_ipd/lola_vs_ppo_ipd.yaml
  pax/envs/in_the_matrix.py
  pax/envs/iterated_tensor_game_n_player.py
  pax/experiment.py
  pax/runners/runner_eval_multishaper.py
  pax/runners/runner_evo_multishaper.py
  pax/runners/runner_ipditm_eval.py
  pax/runners/runner_marl.py
  pax/runners/runner_marl_nplayer.py
  pax/runners/runner_sarl.py
  pax/utils.py
  pax/watchers.py
  setup.py
  test/envs/test_in_the_matrix.py
  test/envs/test_iterated_tensor_game_n_player.py
  test/test_tensor_strategies.py
Labels: envs, agent, conf, test, core
